<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h3><strong>You are in good company</strong></h3>

          <div class="mt-5 justify-content-center">
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/adobe.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/amazon.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/ebay.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/samsung.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/orange.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/salesforce.svg"
            />
          </div>
          <div class="mt-2 mt-md-5 justify-content-center">
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/cisco.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/apple.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/ibm.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/intel.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/panasonic.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
