<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row pb-xl-5 text-center justify-content-center">
        <div class="col-md-10 col-lg-7">
          <h1>Testimonials</h1>
        </div>
      </div>

      <div class="row mt-5 justify-content-center">
        <div class="col-md-8 col-lg-4 col-xl-3 m-auto text-center">
          <img alt="image" height="50" src="/imgs/customers/intel.svg" />
          <p class="h3 mt-4">
            "Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia."
          </p>

          <p class="h3 mt-4 mt-xl-5"><strong>Person Name</strong></p>
          <p>Co-founder at Company</p>
        </div>

        <div class="col-md-8 col-lg-4 col-xl-3 pt-5 pt-lg-0 m-auto text-center">
          <img alt="image" height="50" src="/imgs/customers/apple.svg" />
          <p class="h3 mt-4">
            "Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean."
          </p>

          <p class="h3 mt-4 mt-xl-5"><strong>Person Name</strong></p>
          <p>Co-founder at Company</p>
        </div>

        <div class="col-md-8 col-lg-4 col-xl-3 pt-5 pt-lg-0 m-auto text-center">
          <img alt="image" height="50" src="/imgs/customers/samsung.svg" />
          <p class="h3 mt-4">
            "A small river named Duden flows by their place and supplies it with
            the necessary regelialia."
          </p>

          <p class="h3 mt-4 mt-xl-5"><strong>Person Name</strong></p>
          <p>Co-founder at Company</p>
        </div>
      </div>
    </div>
  </section>
</template>
