<template>
  <section class="fdb-block bg-dark">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col">
          <img
            alt="image"
            height="40"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/adobe.svg"
          />
          <img
            alt="image"
            height="40"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/amazon.svg"
          />
          <img
            alt="image"
            height="40"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/ebay.svg"
          />
          <img
            alt="image"
            height="40"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/samsung.svg"
          />
          <img
            alt="image"
            height="40"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/orange.svg"
          />
          <img
            alt="image"
            height="40"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/salesforce.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
