<template>
  <section
    class="fdb-block"
    style="background-image: url(https://backend.vixeven.dev/imgs/hero/red.svg);"
  >
    <div class="container">
      <div class="fdb-box">
        <div class="row align-items-center justify-content-center">
          <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-auto">
            <img
              alt="image"
              class="img-fluid rounded-circle"
              src="/imgs/people/3.jpg"
            />
          </div>

          <div class="col-12 col-md-8 ml-auto mr-auto mt-4 mt-md-0">
            <p class="lead">
              "Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic life One day however a small
              line of blind text by the name of Lorem Ipsum decided to leave for
              the far World of Grammar."
            </p>

            <p class="h3 mt-4 mt-lg-5"><strong>Person Name</strong></p>
            <p><em>Co-founder at Company</em></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
