<template>
  <section
    class="fdb-block"
    style="background-image: url(https://backend.vixeven.dev/imgs/shapes/9.svg);"
  >
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <h1>Testimonials</h1>
          <p class="lead">
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. Separated they live in Bookmarksgrove
            right at the coast of the Semantics.
          </p>
        </div>
      </div>

      <div class="row mt-5 align-items-center justify-content-center">
        <div class="col-md-8 col-lg-4">
          <div class="fdb-box">
            <div class="row no-gutters align-items-center">
              <div class="col-3">
                <img
                  alt="image"
                  class="img-fluid rounded"
                  src="/imgs/people/1.jpg"
                />
              </div>
              <div class="col-8 ml-auto">
                <p>
                  <strong>Person Name</strong><br />
                  <em>Co-founder at Company</em>
                </p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <p class="lead">
                  "Even the all-powerful Pointing has no control about the blind
                  texts it is an small line of blind text by the name of Lorem
                  Ipsum decided to leave for the far World of Grammar."
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
          <div class="fdb-box">
            <div class="row no-gutters align-items-center">
              <div class="col-3">
                <img
                  alt="image"
                  class="img-fluid rounded"
                  src="/imgs/people/3.jpg"
                />
              </div>
              <div class="col-8 ml-auto">
                <p>
                  <strong>Person Name</strong><br />
                  <em>Co-founder at Company</em>
                </p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <p class="lead">
                  "Far far away, behind the word mountains, far from the
                  countries Vokalia. Separated they live in Bookmarksgrove right
                  at the coast of the Semantics, a large language ocean."
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-lg-4 mt-4 mt-lg-0">
          <div class="fdb-box">
            <div class="row no-gutters align-items-center">
              <div class="col-3">
                <img
                  alt="image"
                  class="img-fluid rounded"
                  src="/imgs/people/2.jpg"
                />
              </div>
              <div class="col-8 ml-auto">
                <p>
                  <strong>Person Name</strong><br />
                  <em>Co-founder at Company</em>
                </p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <p class="lead">
                  "Separated they live in Bookmarksgrove right at the coast of
                  the Semantics, the word mountains, far from the countries
                  Vokalia and Consonantia, there live the blind texts."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
