<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-lg-8">
          <h2>You are in good company</h2>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
          <div class="mt-5 justify-content-center">
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/adobe.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/amazon.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/ebay.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/samsung.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/orange.svg"
            />
            <img
              alt="image"
              height="30"
              class="ml-3 mr-3 mb-2 mt-2"
              src="/imgs/customers/salesforce.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
