<template>
  <section class="fdb-block py-5">
    <div
      class="container py-5"
      style="background-image: url(https://backend.vixeven.dev/imgs/shapes/2.svg);"
    >
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-9 col-xl-6">
          <div class="fdb-box">
            <div class="row">
              <div class="col-8 col-sm-6 col-md-4 col-xl-3 ml-auto mr-auto">
                <img
                  alt="image"
                  class="img-fluid rounded"
                  src="/imgs/people/6.jpg"
                />
              </div>

              <div class="col-md-8 mt-4 mt-md-0">
                <p class="lead">
                  "Even the all-powerful Pointing has no control about day
                  however a small line of blind text by the name of Lorem Ipsum
                  decided to leave for the far World of Grammar."
                </p>

                <p class="h3 mt-4 mt-xl-5"><strong>Person Name</strong></p>
                <p><em>Co-founder at Company</em></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-9 col-xl-6 mt-4 mt-xl-0">
          <div class="fdb-box">
            <div class="row">
              <div class="col-8 col-sm-6 col-md-4 col-xl-3 ml-auto mr-auto">
                <img
                  alt="image"
                  class="img-fluid rounded"
                  src="/imgs/people/8.jpg"
                />
              </div>

              <div class="col-md-8 mt-4 mt-md-0">
                <p class="lead">
                  "Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia. Separated they at the coast
                  of the Semantics, a large language ocean."
                </p>

                <p class="h3 mt-4 mt-xl-5"><strong>Person Name</strong></p>
                <p><em>Co-founder at Company</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
