<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-md-10 col-lg-7">
          <h1>Testimonials</h1>
        </div>
      </div>

      <div class="row mt-5 justify-content-center">
        <div class="col-md-10 col-lg-3 ml-auto mr-auto text-center">
          <p class="h3 mb-4 mb-lg-5">
            "Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia."
          </p>

          <p>
            <img
              alt="image"
              height="50"
              class="rounded-circle"
              src="/imgs/people/5.jpg"
            />
          </p>
          <p class="lead"><strong>Person Name</strong></p>
          <p>Co-founder, Company</p>
        </div>

        <div
          class="col-md-10 col-lg-3 pt-5 pt-lg-0 ml-auto mr-auto text-center"
        >
          <p class="h3 mb-4 mb-lg-5">
            "Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean."
          </p>

          <p>
            <img
              alt="image"
              height="50"
              class="rounded-circle"
              src="/imgs/people/8.jpg"
            />
          </p>
          <p class="lead"><strong>Person Name</strong></p>
          <p>Co-founder, Company</p>
        </div>

        <div
          class="col-md-10 col-lg-3 pt-5 pt-lg-0 ml-auto mr-auto text-center"
        >
          <p class="h3 mb-4 mb-lg-5">
            "A small river named Duden flows by their place and supplies it with
            the necessary regelialia."
          </p>

          <p>
            <img
              alt="image"
              height="50"
              class="rounded-circle"
              src="/imgs/people/9.jpg"
            />
          </p>
          <p class="lead"><strong>Person Name</strong></p>
          <p>Co-founder, Company</p>
        </div>
      </div>
    </div>
  </section>
</template>
