<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="fdb-box fdb-touch">
            <p class="h3 mb-4">
              "Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right at the coast of the Semantics."
            </p>

            <p>
              <img
                alt="image"
                height="50"
                class="rounded-circle"
                src="/imgs/people/5.jpg"
              />
              <strong class="ml-3">Person Name</strong>
            </p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0">
          <div class="fdb-box fdb-touch">
            <p class="h3 mb-4">
              "A small river named Duden flows by their place and supplies it
              with the necessary regelialia. It is a paradisematic country, in
              which roasted parts of sentences fly into your mouth."
            </p>

            <p>
              <img
                alt="image"
                height="50"
                class="rounded-circle"
                src="/imgs/people/4.jpg"
              />
              <strong class="ml-3">Person Name</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
