<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <p class="lead">
            "Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean."
          </p>

          <p class="lead">
            <strong>Person Name</strong>
            <em class="ml-4">Co-founder at Company</em>
          </p>
        </div>
        <div
          class="col-8 col-sm-6 col-md-2 col-lg-3 col-xl-2 mt-4 mt-md-0 ml-auto mr-auto mr-md-0"
        >
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/1.jpg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
