<template>
  <footer class="fdb-block footer-small">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-12 col-sm-6 col-md-4 text-sm-left">
          <img alt="image" src="/imgs/logo.png" height="40" />
        </div>

        <div
          class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0 text-center text-sm-right text-md-center"
        >
          © 2013-2018 Froala
        </div>

        <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-right">
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-twitter" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-facebook" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-pinterest" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-google" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
  </footer>
</template>
