<template>
  <footer class="fdb-block footer-small">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-12 col-lg-2 text-lg-left">
          <img alt="image" src="/imgs/logo.png" height="40" />
        </div>

        <div class="col mt-4 mt-lg-0 text-center">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="https://www.froala.com">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com"
                >Privacy Policy</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">About</a>
            </li>
          </ul>
        </div>

        <div class="col-12 col-lg-2 mt-4 mt-lg-0 text-lg-right">
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-twitter" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-facebook" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-pinterest" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-google" aria-hidden="true"></i
          ></a>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col text-center">
          © 2018 Froala. All Rights Reserved
        </div>
      </div>
    </div>
  </footer>
</template>
