<template>
  <footer class="fdb-block footer-large">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h3>Company Name</h3>
          <p>70 Bowman St.<br />South Windsor, CT 06074</p>
          <p>USA</p>
          <p>+13 827 312 5002</p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col text-center">
          <p class="lead">
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-twitter" aria-hidden="true"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-facebook" aria-hidden="true"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-instagram" aria-hidden="true"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-pinterest" aria-hidden="true"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-google" aria-hidden="true"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>
