<template>
  <footer class="fdb-block footer-small">
    <div class="container">
      <div class="row align-items-center text-center">
        <div class="col-12 col-lg-4 text-lg-left">
          © 2018 Froala
        </div>

        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
          <img alt="image" src="/imgs/logo.png" height="40" />
        </div>

        <div class="col-12 col-lg-4 text-lg-right mt-4 mt-lg-0">
          <ul class="nav justify-content-lg-end justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>
