<template>
  <footer class="fdb-block footer-small">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <ul class="nav justify-content-center justify-content-md-start">
            <li class="nav-item">
              <a class="nav-link active" href="https://www.froala.com">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">About</a>
            </li>
          </ul>
        </div>

        <div class="col mt-4 mt-md-0 text-center text-md-right">
          <a href="https://www.froala.com" class="btn btn-primary"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </footer>
</template>
