<template>
  <footer class="fdb-block footer-small">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <p>© 2018 Froala. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
</template>
