<template>
  <footer class="fdb-block footer-small">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <ul class="nav justify-content-center justify-content-md-start">
            <li class="nav-item">
              <a class="nav-link active" href="https://www.froala.com">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">About</a>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-6 mt-4 mt-md-0 text-center text-md-right">
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-twitter" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-facebook" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-pinterest" aria-hidden="true"></i
          ></a>
          <a href="https://www.froala.com" class="mx-2"
            ><i class="fab fa-google" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
  </footer>
</template>
