<template>
  <section
    class="fdb-block"
    style="background-image: url(https://backend.vixeven.dev/imgs/hero/red.svg);"
  >
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1 class="text-white">Pricing</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-center">
        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center">
          <div class="fdb-box p-4">
            <h2>Hobby</h2>
            <p class="lead">
              Far far away, behind the word mountains, far from the countries
              Vokalia.
            </p>

            <p class="h1 mt-5 mb-5">$99</p>

            <p>
              <a href="https://www.froala.com" class="btn btn-dark">Buy Now</a>
            </p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0"
        >
          <div class="fdb-box px-4 pt-5">
            <h2>Advanced</h2>
            <p class="lead">
              Separated they live in Bookmarksgrove right at the coast, a large
              language ocean.
            </p>

            <p class="h1 mt-5 mb-5">$299</p>

            <p>
              <a href="https://www.froala.com" class="btn btn-secondary"
                >Buy Now</a
              >
            </p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0"
        >
          <div class="fdb-box p-4">
            <h2>Business</h2>
            <p class="lead">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost life.
            </p>

            <p class="h1 mb-5 mt-5">$799</p>

            <p>
              <a href="https://www.froala.com" class="btn btn-dark">Buy Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
