<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Pricing Plans</h1>
        </div>
      </div>

      <table class="table text-center mt-5 d-none d-lg-table">
        <tbody>
          <tr>
            <th scope="row" class="border-0"></th>
            <td class="text-center border-0">
              <h2 class="font-weight-light">Hobby</h2>
              <p class="lead">$99</p>
              <p>
                <a href="https://www.froala.com" class="btn btn-outline-primary"
                  >Buy Now</a
                >
              </p>
            </td>
            <td class="text-center border-0">
              <h2 class="font-weight-light">Professional</h2>
              <p class="lead">$399</p>
              <p>
                <a href="https://www.froala.com" class="btn btn-outline-primary"
                  >Buy Now</a
                >
              </p>
            </td>
            <td class="text-center border-0">
              <h2 class="font-weight-light">Business</h2>
              <p class="lead">$899</p>
              <p>
                <a href="https://www.froala.com" class="btn btn-primary"
                  >Buy Now</a
                >
              </p>
            </td>
            <td class="text-center border-0">
              <h2 class="font-weight-light">Enterprise</h2>
              <p class="lead">Call us</p>
              <p>
                <a href="https://www.froala.com" class="btn btn-outline-primary"
                  >Contact</a
                >
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">Support</th>
            <td>3 months</td>
            <td>6 months</td>
            <td>12 months</td>
            <td>Custom</td>
          </tr>
          <tr>
            <th scope="row">Full source code</th>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">SaaS / Subscription</th>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Intranet</th>
            <td></td>
            <td>✓</td>
            <td>✓</td>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Downloadable Software</th>
            <td></td>
            <td></td>
            <td>✓</td>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Redistribute</th>
            <td></td>
            <td></td>
            <td></td>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Custom code</th>
            <td></td>
            <td></td>
            <td></td>
            <td>✓</td>
          </tr>
        </tbody>
      </table>

      <table class="table text-center mt-5 d-table d-lg-none">
        <tbody>
          <tr>
            <td class="text-center border-0" colspan="2">
              <h2 class="font-weight-light">Hobby</h2>
              <p class="h2">$99</p>
              <p>
                <a href="https://www.froala.com" class="btn btn-outline-primary"
                  >Buy Now</a
                >
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">Support</th>
            <td>3 months</td>
          </tr>
          <tr>
            <th scope="row">Full source code</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">SaaS / Subscription</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Intranet</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Downloadable Software</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Redistribute</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Custom code</th>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="table text-center mt-5 d-table d-lg-none">
        <tbody>
          <tr>
            <td class="text-center" colspan="2">
              <h2 class="font-weight-light">Professional</h2>
              <p class="h2">$399</p>
              <p>
                <a href="https://www.froala.com" class="btn btn-outline-primary"
                  >Buy Now</a
                >
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">Support</th>
            <td>6 months</td>
          </tr>
          <tr>
            <th scope="row">Full source code</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">SaaS / Subscription</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Intranet</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Downloadable Software</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Redistribute</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Custom code</th>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="table text-center mt-5 d-table d-lg-none">
        <tbody>
          <tr>
            <td class="text-center" colspan="2">
              <h2 class="font-weight-light">Business</h2>
              <p class="h2">$899</p>
              <p>
                <a href="https://www.froala.com" class="btn btn-primary"
                  >Buy Now</a
                >
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">Support</th>
            <td>12 months</td>
          </tr>
          <tr>
            <th scope="row">Full source code</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">SaaS / Subscription</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Intranet</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Downloadable Software</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Redistribute</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Custom code</th>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="table text-center mt-5 d-table d-lg-none">
        <tbody>
          <tr>
            <td class="text-center" colspan="2">
              <h2 class="font-weight-light">Enterprise</h2>
              <p class="h2">Call us</p>
              <p>
                <a href="https://www.froala.com" class="btn btn-outline-primary"
                  >Contact</a
                >
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">Support</th>
            <td>Custom</td>
          </tr>
          <tr>
            <th scope="row">Full source code</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">SaaS / Subscription</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Intranet</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Downloadable Software</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Redistribute</th>
            <td>✓</td>
          </tr>
          <tr>
            <th scope="row">Custom code</th>
            <td>✓</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>
