<template>
  <section
    class="fdb-block"
    style="background-image: url(https://backend.vixeven.dev/imgs/shapes/8.svg);"
  >
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Pricing Plans</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-center no-gutters">
        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center shadow"
        >
          <div class="bg-white pb-5 pt-5 pl-4 pr-4 rounded-left">
            <h2 class="font-weight-light">Basic</h2>

            <p class="h1 mt-5 mb-5">
              <strong>$19</strong> <span class="h4">/month</span>
            </p>

            <ul class="text-left">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>

            <p class="text-center pt-4">
              <a href="https://www.froala.com" class="btn btn-outline-dark"
                >Choose Plan</a
              >
            </p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 ml-auto mr-auto col-lg-4 text-center mt-4 mt-lg-0 sl-1 pt-0 pt-lg-3 pb-0 pb-lg-3 bg-white fdb-touch rounded shadow"
        >
          <div class="pb-5 pt-5 pl-4 pr-4">
            <h2 class="font-weight-light">Standard</h2>

            <p class="h1 mt-5 mb-5">
              <strong>$49</strong> <span class="h4">/month</span>
            </p>

            <ul class="text-left">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>

            <p class="text-center pt-4">
              <a
                href="https://www.froala.com"
                class="btn btn-primary btn-shadow"
                >Choose Plan</a
              >
            </p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 ml-auto mr-auto col-lg-4 text-center mt-4 mt-lg-0 shadow"
        >
          <div class="bg-white pb-5 pt-5 pl-4 pr-4 rounded-right">
            <h2 class="font-weight-light">OEM</h2>

            <p class="h1 mt-5 mb-5">
              <strong>$99</strong> <span class="h4">/month</span>
            </p>

            <ul class="text-left">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>

            <p class="text-center pt-4">
              <a href="https://www.froala.com" class="btn btn-outline-dark"
                >Choose Plan</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
