<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Pricing Plans</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-top">
        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center">
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4 rounded">
            <h3><strong>Startup</strong></h3>
            <p class="h4">&lt; 10 employees</p>

            <p class="h1 mt-5">$9.90 <span class="lead">/ month</span></p>
            <p>
              Far far away, behind the word mountains, far from the countries.
            </p>
            <hr />
            <p><em>Unlimited calls</em></p>
            <p><em>Free hosting</em></p>
            <p><em>40MB of storage</em></p>

            <p class="text-center pt-5">
              <a href="https://www.froala.com" class="btn btn-primary"
                >Subscribe</a
              >
            </p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0"
        >
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4 rounded">
            <h3><strong>Agency</strong></h3>
            <p class="h4">10-100 employees</p>

            <p class="h1 mt-5">$19.90 <span class="lead">/ month</span></p>
            <p>
              And if she hasn’t been rewritten, then they are still using her.
            </p>
            <hr />
            <p><em>Unlimited calls</em></p>
            <p><em>Free hosting</em></p>
            <p><em>40MB of storage</em></p>

            <p class="text-center pt-5">
              <a href="https://www.froala.com" class="btn btn-primary"
                >Subscribe</a
              >
            </p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0"
        >
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4 rounded">
            <h3><strong>Business</strong></h3>
            <p class="h4">&gt;100 employees</p>

            <p class="h1 mt-5">$99.90 <span class="lead">/ month</span></p>
            <p>
              Separated they live in Bookmarksgrove right at the coast of the
              Semantics.
            </p>
            <hr />
            <p><em>Unlimited calls</em></p>
            <p><em>Free hosting</em></p>
            <p><em>40MB of storage</em></p>

            <p class="text-center pt-5">
              <a href="https://www.froala.com" class="btn btn-primary"
                >Subscribe</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
