<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Pricing</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-center">
        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left">
          <div class="fdb-box fdb-touch p-5 rounded">
            <h2>
              Hobby
              <strong class="float-xl-right d-lg-block d-xl-inline">$99</strong>
            </h2>
            <p class="lead">
              <em>Copy Writers ambushed her, made her drunk.</em>
            </p>

            <ul class="text-left pl-3 mt-5 mb-5">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>

            <p class="text-left pt-4">
              <a href="https://www.froala.com" class="btn btn-primary"
                >Buy Now</a
              >
            </p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0"
        >
          <div class="fdb-box fdb-touch p-5 rounded">
            <h2>
              Advanced
              <strong class="float-xl-right d-lg-block d-xl-inline"
                >$349</strong
              >
            </h2>
            <p class="lead"><em>Separated they live in Bookmarks right.</em></p>

            <ul class="text-left pl-3 mt-5 mb-5">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>

            <p class="text-left pt-4">
              <a href="https://www.froala.com" class="btn btn-primary"
                >Buy Now</a
              >
            </p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0"
        >
          <div class="fdb-box fdb-touch p-5 rounded">
            <h2>
              Business
              <strong class="float-xl-right d-lg-block d-xl-inline"
                >$849</strong
              >
            </h2>
            <p class="lead"><em>A small river named Duden their place.</em></p>

            <ul class="text-left pl-3 mt-5 mb-5">
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>

            <p class="text-left pt-4">
              <a href="https://www.froala.com" class="btn btn-primary"
                >Buy Now</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
