<template>
  <section class="fdb-block py-0">
    <div
      class="container pt-5 my-5"
      style="background-image: url(https://backend.vixeven.dev/imgs/shapes/2.svg)"
    >
      <div class="row text-center py-5">
        <div class="col">
          <h1>Pricing Plans</h1>
        </div>
      </div>

      <div class="row py-5 align-items-top">
        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left">
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4 rounded shadow">
            <h2 class="font-weight-light">Startup</h2>
            <hr />
            <p class="h2"><strong>$9.90</strong></p>
            <p class="h4">
              Far far away, behind the word mountains, far from the countries.
            </p>
            <hr />
            <p class="text-right"><em>Unlimited calls</em></p>
            <p class="text-right"><em>Free hosting</em></p>
            <p class="text-right"><em>40MB of storage</em></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p class="text-center pt-4">
              <a href="https://www.froala.com" class="btn btn-primary"
                >Choose Plan</a
              >
            </p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0"
        >
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4 rounded shadow">
            <h2 class="font-weight-light">Standard</h2>
            <hr />
            <p class="h2"><strong>$29.90</strong></p>
            <p class="h4">
              The copy warned the Blind Text, that it would have been rewritten
            </p>
            <hr />
            <p class="text-right"><em>Unlimited calls</em></p>
            <p class="text-right"><em>Free hosting</em></p>
            <p class="text-right"><em>1GB of storage</em></p>
            <p class="text-right"><em>10 hours of support</em></p>
            <p class="text-right"><em>Custom domain</em></p>
            <p><br /></p>
            <p class="text-center pt-4">
              <a href="https://www.froala.com" class="btn btn-primary"
                >Choose Plan</a
              >
            </p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0"
        >
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4 rounded shadow">
            <h2 class="font-weight-light">Professional</h2>
            <hr />
            <p class="h2"><strong>$59.90</strong></p>
            <p class="h4">
              the headline of Alphabet Village and the subline of her own road.
            </p>
            <hr />
            <p class="text-right"><em>Unlimited calls</em></p>
            <p class="text-right"><em>Free hosting</em></p>
            <p class="text-right"><em>1GB of storage</em></p>
            <p class="text-right"><em>20 hours of support</em></p>
            <p class="text-right"><em>Custom domain</em></p>
            <p class="text-right"><em>Analytics and SEO</em></p>

            <p class="text-center pt-4">
              <a href="https://www.froala.com" class="btn btn-primary"
                >Choose Plan</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
