<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Pricing Plans</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-top">
        <div
          class="col-12 col-sm-10 col-md-6 col-lg-5 m-auto col-xl-3 text-left"
        >
          <div class="bg-gray p-3 text-center rounded sl-1">
            <h2 class="font-weight-light">Startup</h2>
            <p class="h2">$99</p>
            <p class="text-center">
              <a href="https://www.froala.com" class="btn btn-outline-secondary"
                >Buy Now</a
              >
            </p>

            <hr class="mt-5 mb-5" />

            <p>10 hours of support</p>
            <p>40MB of storage</p>
            <p>Subdomain</p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-6 col-lg-5 m-auto col-xl-3 text-left pt-5 pt-md-0"
        >
          <div class="bg-gray p-3 text-center rounded sl-1">
            <h2 class="font-weight-light">Advanced</h2>
            <p class="h2">$399</p>
            <p class="text-center">
              <a href="https://www.froala.com" class="btn btn-secondary"
                >Buy Now</a
              >
            </p>

            <hr class="mt-5 mb-5" />

            <p>10 hours of support</p>
            <p>40MB of storage</p>
            <p>Subdomain</p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-6 col-lg-5 m-auto col-xl-3 text-left pt-5 pt-xl-0"
        >
          <div class="bg-gray p-3 text-center rounded sl-1">
            <h2 class="font-weight-light">Business</h2>
            <p class="h2">$999</p>
            <p class="text-center">
              <a href="https://www.froala.com" class="btn btn-outline-secondary"
                >Buy Now</a
              >
            </p>

            <hr class="mt-5 mb-5" />

            <p>10 hours of support</p>
            <p>40MB of storage</p>
            <p>Subdomain</p>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-6 col-lg-5 m-auto col-xl-3 text-left pt-5 pt-xl-0"
        >
          <div class="bg-gray p-3 text-center rounded sl-1">
            <h2 class="font-weight-light">Enterprise</h2>
            <p class="h2">Call Us</p>
            <p class="text-center">
              <a href="https://www.froala.com" class="btn btn-outline-secondary"
                >Contact</a
              >
            </p>

            <hr class="mt-5 mb-5" />

            <p>10 hours of support</p>
            <p>40MB of storage</p>
            <p>Subdomain</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
