<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Pricing Plans</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-top">
        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left">
          <div class="rounded">
            <div class="bg-dark p-3 text-center">
              <h2 class="font-weight-light">Startup</h2>
              <p class="h2"><strong>$9.90</strong></p>
            </div>

            <div class="bg-gray p-5 text-center">
              <p>
                <img alt="image" height="40" src="/imgs/icons/layers.svg" />
              </p>
              <p class="h4"><strong>For small companies</strong></p>
              <p><br /></p>
              <p>10 hours of support</p>
              <p>40MB of storage</p>
              <p>Subdomain</p>

              <p class="text-center pt-5">
                <a href="https://www.froala.com" class="btn btn-secondary"
                  >Choose Plan</a
                >
              </p>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0"
        >
          <div class="rounded">
            <div class="bg-dark p-3 text-center">
              <h2 class="font-weight-light">Standard</h2>
              <p class="h2"><strong>$19.90</strong></p>
            </div>

            <div class="bg-gray p-5 text-center">
              <p>
                <img alt="image" height="40" src="/imgs/icons/monitor.svg" />
              </p>
              <p class="h4"><strong>For medium companies</strong></p>
              <p><br /></p>
              <p>10 hours of support</p>
              <p>40MB of storage</p>
              <p>Subdomain</p>

              <p class="text-center pt-5">
                <a href="https://www.froala.com" class="btn btn-secondary"
                  >Choose Plan</a
                >
              </p>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0"
        >
          <div class="rounded">
            <div class="bg-dark p-3 text-center">
              <h2 class="font-weight-light">Business</h2>
              <p class="h2"><strong>$29.90</strong></p>
            </div>

            <div class="bg-gray p-5 text-center">
              <p>
                <img alt="image" height="40" src="/imgs/icons/package.svg" />
              </p>
              <p class="h4"><strong>For large companies</strong></p>
              <p><br /></p>
              <p>10 hours of support</p>
              <p>40MB of storage</p>
              <p>Subdomain</p>

              <p class="text-center pt-5">
                <a href="https://www.froala.com" class="btn btn-secondary"
                  >Choose Plan</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
