<template>
  <section
    class="fdb-block"
    style="background-image: url(https://backend.vixeven.dev/imgs/shapes/1.svg);"
  >
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-9 col-lg-8">
          <div class="fdb-box fdb-touch">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                <h1>Subscribe</h1>
                <p class="lead">
                  When she reached the first hills of the Italic Mountains, she
                  had a last view back on the skyline of her hometown
                  Bookmarksgrove.
                </p>
              </div>
            </div>
            <div class="row justify-content-center mt-4">
              <div class="col-12 col-lg-10">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your email address"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
