<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 m-md-auto ml-lg-0 col-lg-5">
          <img alt="image" class="img-fluid" src="/imgs/draws/group-chat.svg" />
        </div>
        <div
          class="col-12 col-md-10 col-lg-6 mt-4 mt-lg-0 ml-auto mr-auto ml-lg-auto text-left"
        >
          <div class="row">
            <div class="col">
              <h1>Subscribe</h1>
              <p class="lead">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia.
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your email address"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">Submit</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="h4">* Leave your email address to be notified first.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
