<template>
  <section
    class="fdb-block"
    style="background-image: url(https://backend.vixeven.dev/imgs/hero/red.svg);"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
          <div class="fdb-box">
            <div class="row">
              <div class="col">
                <h1>Log In</h1>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <input type="text" class="form-control" placeholder="Email" />
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <input
                  type="password"
                  class="form-control mb-1"
                  placeholder="Password"
                />
                <p class="text-right">
                  <a href="https://www.froala.com">Recover Password</a>
                </p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button class="btn btn-outline-secondary" type="button">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
