<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
          <h1>Subscribe</h1>
          <div class="input-group mt-4 mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your email address"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Submit</button>
            </div>
          </div>

          <p class="h4">
            Find us on <a href="https://www.froala.com">Facebook</a> and
            <a href="https://www.froala.com">Twitter</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
