<template>
  <section
    class="fdb-block"
    style="background-image: url(https://backend.vixeven.dev/imgs/hero/blue.svg);"
  >
    <div class="container">
      <div class="fdb-box">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-lg-6">
            <h2>Join us!</h2>
            <p class="lead">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia.
            </p>
          </div>
          <div class="col-12 col-lg-5 text-center">
            <div class="input-group mt-4">
              <input
                type="text"
                class="form-control"
                placeholder="Enter your email address"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
