<template>
  <section class="fdb-block bg-gray">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12  col-md-10 col-lg-8 col-xl-6 text-center">
          <img alt="image" height="40" src="/imgs/icons/layers.svg" />
          <h1>Never miss an update</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
          <div class="input-group mt-4 mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your email address"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Submit</button>
            </div>
          </div>
          <p class="h5">
            <em
              >*Your email address is safe with us. We never share your email
              address.</em
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
