<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
          <h1>Company Name</h1>
          <p class="lead">
            When she reached the first hills of the Italic Mountains, she had a
            last view back on the skyline of her hometown.
          </p>
          <div class="input-group mt-5 mb-5">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your email address"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Submit</button>
            </div>
          </div>
          <p class="h2">
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-google"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-pinterest"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
