<template>
  <section class="fdb-block team-6">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-8">
          <h1>Team</h1>
        </div>
      </div>

      <div class="row text-center mt-5">
        <div class="col-4">
          <img alt="image" class="img-fluid rounded" src="/imgs/people/9.jpg" />
          <h3><strong>John Smith</strong></h3>
          <p>Position</p>
          <p>
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics.
          </p>
        </div>

        <div class="col-4">
          <img alt="image" class="img-fluid rounded" src="/imgs/people/1.jpg" />
          <h3><strong>John Smith</strong></h3>
          <p>Position</p>
          <p>One morning, when Gregor Samsa woke from troubled dreams.</p>
        </div>

        <div class="col-4">
          <img alt="image" class="img-fluid rounded" src="/imgs/people/3.jpg" />
          <h3><strong>John Smith</strong></h3>
          <p>Position</p>
          <p>A small river named Duden flows by their place and supplies it.</p>
        </div>
      </div>
    </div>
  </section>
</template>
