<template>
  <section class="fdb-block team-5">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-8">
          <h1>Meet Our Team</h1>
        </div>
      </div>

      <div class="row-70"></div>

      <div class="row text-center justify-content-center">
        <div class="col-sm-2 m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/1.jpg"
          />

          <h3><strong>Sara Doe</strong></h3>
          <p>"Wild Question Marks, but the Little Blind"</p>
        </div>

        <div class="col-sm-2 m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/6.jpg"
          />

          <h3><strong>Sara Doe</strong></h3>
          <p>"Wild Question Marks, but the Little Blind"</p>
        </div>

        <div class="col-sm-2 m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/5.jpg"
          />

          <h3><strong>Sara Doe</strong></h3>
          <p>"Wild Question Marks, but the Little Blind"</p>
        </div>

        <div class="col-sm-2 m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/8.jpg"
          />

          <h3><strong>Sara Doe</strong></h3>
          <p>"Wild Question Marks, but the Little Blind"</p>
        </div>
      </div>

      <div class="row justify-content-center text-center mt-5">
        <div class="col-sm-2  m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/3.jpg"
          />

          <h3><strong>Sara Doe</strong></h3>
          <p>"Wild Question Marks, but the Little Blind"</p>
        </div>

        <div class="col-sm-2 m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/9.jpg"
          />

          <h3><strong>Sara Doe</strong></h3>
          <p>"Wild Question Marks, but the Little Blind"</p>
        </div>

        <div class="col-sm-2 m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/7.jpg"
          />

          <h3><strong>Sara Doe</strong></h3>
          <p>"Wild Question Marks, but the Little Blind"</p>
        </div>

        <div class="col-sm-2 m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/2.jpg"
          />

          <h3><strong>Sara Doe</strong></h3>
          <p>"Wild Question Marks, but the Little Blind"</p>
        </div>
      </div>
    </div>
  </section>
</template>
