<template>
  <section class="fdb-block team-8">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-8">
          <h1>Our Amazing Team</h1>
          <p class="lead">
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country, in which
            roasted parts of sentences fly into your mouth.
          </p>
        </div>
      </div>

      <div class="row-100"></div>

      <div class="row justify-content-center text-left">
        <div class="col-sm-6">
          <div class="row align-items-center">
            <div class="col-4">
              <img
                alt="image"
                class="img-fluid rounded"
                src="/imgs/people/8.jpg"
              />
            </div>

            <div class="col-8">
              <h3><strong>Employee Name</strong></h3>
              <p class="lead">Position</p>

              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row align-items-center">
            <div class="col-4">
              <img
                alt="image"
                class="img-fluid rounded"
                src="/imgs/people/7.jpg"
              />
            </div>

            <div class="col-8">
              <h3><strong>Employee Name</strong></h3>
              <p class="lead">Position</p>

              <p>
                Separated they live in Bookmarksgrove right at the coast of the
                Semantics, a large language ocean.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row-70"></div>

      <div class="row justify-content-center text-left">
        <div class="col-sm-6">
          <div class="row align-items-center">
            <div class="col-4">
              <img
                alt="image"
                class="img-fluid rounded"
                src="/imgs/people/9.jpg"
              />
            </div>

            <div class="col-8">
              <h3><strong>Employee Name</strong></h3>
              <p class="lead">Position</p>

              <p>
                One day however a small line of blind text by the name of Lorem
                Ipsum decided to leave for the far World of Grammar.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row align-items-center">
            <div class="col-4">
              <img
                alt="image"
                class="img-fluid rounded"
                src="/imgs/people/4.jpg"
              />
            </div>

            <div class="col-8">
              <h3><strong>Employee Name</strong></h3>
              <p class="lead">Position</p>

              <p>
                Even the all-powerful Pointing has no control about the blind
                texts it is an almost unorthographic life.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
