<template>
  <section class="fdb-block team-1">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-8">
          <h1>Our Team</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries.
          </p>
        </div>
      </div>

      <div class="row-50"></div>

      <div class="row">
        <div class="col-sm-3 text-left">
          <div class="fdb-box p-0">
            <img
              alt="image"
              class="img-fluid rounded-0"
              src="/imgs/people/1.jpg"
            />

            <div class="content p-3">
              <h3><strong>Sara Doe</strong></h3>
              <p>Founder</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3 text-left">
          <div class="fdb-box p-0">
            <img
              alt="image"
              class="img-fluid rounded-0"
              src="/imgs/people/2.jpg"
            />

            <div class="content p-3">
              <h3><strong>Sara Doe</strong></h3>
              <p>Founder</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 text-left">
          <div class="fdb-box p-0">
            <img
              alt="image"
              class="img-fluid rounded-0"
              src="/imgs/people/3.jpg"
            />

            <div class="content p-3">
              <h3><strong>Sara Doe</strong></h3>
              <p>Founder</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 text-left">
          <div class="fdb-box p-0">
            <img
              alt="image"
              class="img-fluid rounded-0"
              src="/imgs/people/6.jpg"
            />

            <div class="content p-3">
              <h3><strong>Sara Doe</strong></h3>
              <p>Founder</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
