<template>
  <section class="fdb-block team-2">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-8">
          <h1>Meet Our Team</h1>
        </div>
      </div>

      <div class="row-50"></div>

      <div class="row text-center justify-content-center">
        <div class="col-sm-3 m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/4.jpg"
          />

          <h2>Sara Doe</h2>
          <p>Founder</p>
        </div>

        <div class="col-sm-3 m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/5.jpg"
          />

          <h2>Sara Doe</h2>
          <p>Founder</p>
        </div>

        <div class="col-sm-3 m-sm-auto">
          <img
            alt="image"
            class="img-fluid rounded-circle"
            src="/imgs/people/7.jpg"
          />

          <h2>Sara Doe</h2>

          <p>Founder</p>
        </div>
      </div>
    </div>
  </section>
</template>
