<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            <a href="https://www.froala.com">World of Grammar</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
