<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Froala Design Blocks</h1>

          <div class="row text-left pt-4">
            <div class="col-12 col-md-6">
              <p class="lead">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean. A small river named Duden flows by their
                place far far away.
              </p>
            </div>
            <div class="col-12 col-md-6">
              <p class="lead">
                Separated they live in Bookmarksgrove right at the coast of the
                Semantics, far far away, behind the word mountains, far from the
                countries Vokalia and Consonantia, there live the blind texts.
                Separated they live in Bookmarksgrove right at the coast.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
