<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row pb-3">
        <div class="col text-center">
          <h1>Froala Design Blocks</h1>
        </div>
      </div>
      <div class="row pt-5 justify-content-center align-items-center">
        <div class="col-3">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/draws/design-life.svg"
          />
        </div>
        <div class="col-3 offset-1">
          <img alt="image" class="img-fluid" src="/imgs/draws/designer.svg" />
        </div>
        <div class="col-3 offset-1">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/draws/design-community.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
