<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-left align-items-center">
        <div class="col-10 col-sm-6 m-auto m-lg-0 col-lg-4">
          <img alt="image" class="img-fluid" src="/imgs/draws/opened.svg" />
        </div>

        <div class="col-12 col-lg-7 offset-lg-1 pt-4 pt-lg-0">
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics.
          </p>

          <div class="row mt-5">
            <div class="col-12 col-sm-6">
              <h3><strong>Open Source</strong></h3>
              <p class="lead">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia.
              </p>
            </div>

            <div class="col-12 col-sm-6 pt-3 pt-sm-0">
              <h3><strong>Bootstrap</strong></h3>
              <p class="lead">
                Right at the coast of the Semantics, a large language ocean. A
                small river named Duden.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
