<template>
  <section
    class="fdb-block"
    style="background-image: url(https://backend.vixeven.dev//imgs/shapes/8.svg)"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
          <img alt="image" class="fdb-icon" src="/imgs/icons/github.svg" />
          <h1>Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
        </div>
        <div class="col-10 col-sm-6 m-auto col-md-4 pt-4 pt-md-0">
          <img
            alt="image"
            class="img-fluid rounded-0"
            src="/imgs/draws/chat.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
