<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Froala Design Blocks</h1>
        </div>
      </div>
    </div>
  </section>
</template>
