<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-lg-3">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/photos/fireworks-1.jpg"
          />
        </div>

        <div class="col-6 col-lg-3">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/photos/fireworks-2.jpg"
          />
        </div>

        <div class="col-12 col-lg-6 pt-3">
          <p class="lead text-left">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove.
          </p>
          <p class="lead text-left">
            Right at the coast of the Semantics, a large language ocean. A small
            river named Duden. <a href="https://www.froala.com">[Read More]</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
