<template>
  <section class="fdb-block">
    <div
      class="col-fill-left"
      style="background-image: url(https://backend.vixeven.dev/imgs/people/5.jpg);"
    ></div>

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-5 text-center">
          <h1>Froala Blocks</h1>
          <p class="lead">
            When she reached the first hills of the Italic Mountains, she had a
            last view back on the skyline of her hometown Bookmarksgrove
          </p>

          <p class="mt-4">
            <a href="https://www.froala.com"
              >Learn More <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
