<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-left">
        <div class="col-12 col-md-6">
          <img alt="image" class="fdb-icon" src="/imgs/icons/gift.svg" />
          <h3><strong>Awesome Things</strong></h3>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Far from the
            countries Vokalia and Consonantia.
          </p>
        </div>
        <div class="col-12 col-md-6 pt-5 pt-md-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/cloud.svg" />
          <h3><strong>More Awesomeness</strong></h3>
          <p class="lead">
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, far far away, behind the word mountains, far from the
            countries
            <a href="https://www.froala.com">Vokalia and Consonantia</a>, there
            live the blind texts.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
