<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-8 col-md-4">
          <img alt="image" class="img-fluid" src="/imgs/photos/map-1.jpg" />
        </div>

        <div class="col-4 col-md-2">
          <div class="row">
            <div class="col-12">
              <img alt="image" class="img-fluid" src="/imgs/photos/map-2.jpg" />
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12">
              <img alt="image" class="img-fluid" src="/imgs/photos/map-3.jpg" />
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 ml-auto pt-5 pt-md-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/github.svg" />
          <h1>Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
