<template>
  <section
    class="fdb-block pb-0"
    style="background-image: url(https://backend.vixeven.dev/imgs/hero/purple.svg);"
  >
    <div class="container">
      <div class="row text-left justify-content-end">
        <div class="col-12 col-md-6 col-xl-5">
          <div class="fdb-box rounded-bottom-0">
            <h2><strong>Design Blocks</strong></h2>
            <p class="lead">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.
            </p>

            <p class="lead mt-4">
              <a class="btn btn-outline-primary" href="https://www.froala.com"
                >Read More</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
