<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Froala Design Blocks</h1>
        </div>
      </div>

      <div class="row pt-5 justify-content-center align-items-center">
        <div class="col-6 col-md-2">
          <img alt="image" class="img-fluid" src="/imgs/shapes/1.svg" />
        </div>
        <div class="col-6 col-md-2 offset-md-1">
          <img alt="image" class="img-fluid" src="/imgs/shapes/5.svg" />
        </div>
        <div class="col-6 col-md-2 mt-4 mt-md-0 offset-md-1">
          <img alt="image" class="img-fluid" src="/imgs/shapes/7.svg" />
        </div>
        <div class="col-6 col-md-2 mt-4 mt-md-0 offset-md-1">
          <img alt="image" class="img-fluid" src="/imgs/shapes/4.svg" />
        </div>
      </div>
    </div>
  </section>
</template>
