<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row justify-content-center pb-5">
            <div class="col-12 col-lg-8 text-center">
              <h1>Froala Design Blocks is Open Source and free to use</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <img alt="image" class="img-fluid" src="/imgs/draws/android.svg" />
        </div>
      </div>
    </div>
  </section>
</template>
