<template>
  <section class="fdb-block bg-dark">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Made with <i class="fas fa-heart text-danger"></i> by Froala</h1>
        </div>
      </div>
    </div>
  </section>
</template>
