<template>
  <section class="fdb-block">
    <div
      class="col-fill-right"
      style="background-image: url(https://backend.vixeven.dev/imgs/people/6.jpg);"
    ></div>

    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-5 text-center">
          <h1>Froala Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
          <p class="mt-4 mb-5">
            <a class="btn btn-secondary" href="https://www.froala.com"
              >Button</a
            >
          </p>

          <p>Follow us on</p>
          <p>
            <a href="https://www.froala.com" class="mx-2 text-secondary"
              ><i class="fab fa-twitter" aria-hidden="true"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2 text-secondary"
              ><i class="fab fa-facebook" aria-hidden="true"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2 text-secondary"
              ><i class="fab fa-instagram" aria-hidden="true"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2 text-secondary"
              ><i class="fab fa-pinterest" aria-hidden="true"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2 text-secondary"
              ><i class="fab fa-google" aria-hidden="true"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
