<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in <a href="https://www.froala.com">Bookmarksgrove</a> right at
            the coast of the Semantics, a large language ocean.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
