<template>
  <section class="fdb-block py-0">
    <div
      class="container pt-5 mt-5"
      style="background-image: url(https://backend.vixeven.dev/imgs/shapes/9.svg);"
    >
      <div class="row text-left pt-5">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="fdb-box fdb-touch rounded-bottom-0">
            <h2><strong>Design Blocks</strong></h2>
            <p class="lead">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right at the coast of the Semantics
            </p>
            <p class="lead mt-4">
              <a href="https://www.froala.com">Read More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
