<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <h2>Far far away...</h2>

          <p>
            Far far away, behind the word mountains, far from the countries
            <a href="https://www.froala.com">Vokalia</a> and
            <a href="https://www.froala.com">Consonantia</a>, there live the
            blind texts. Separated they live in Bookmarksgrove right at the
            coast of the Semantics, a large language ocean. A small river named
            Duden flows by their place and supplies it with the necessary
            regelialia. It is a paradisematic country, in which roasted parts of
            sentences fly into your mouth.
          </p>

          <p>
            On her way she met a copy. The copy warned the Little Blind Text,
            that where it came from it would have been rewritten a thousand
            times and everything that was left from its origin would be the word
            "and" and the
            <a href="https://www.froala.com">Little Blind Text</a> should turn
            around and return to its own, safe country. But nothing the copy
            said could convince her and so it didn’t take long until a few
            insidious Copy Writers ambushed her, made her drunk with Longe and
            Parole and dragged her into their agency, where they abused her for
            their.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
