<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col col-sm-10 col-md-8 text-left">
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
