<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6 text-center">
          <img alt="image" width="200" src="/imgs/logo.png" />
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean. A small river named Duden flows
            by their place and supplies
          </p>

          <p class="h3 mt-5">
            <a href="https://www.froala.com" class="btn btn-primary"
              >Download Now</a
            >
          </p>
          <p>Latest Version: 2.3.5</p>
        </div>
      </div>
    </div>
  </section>
</template>
