<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 col-sm-6 m-auto col-md-4 pb-4 pb-md-0">
          <img
            alt="image"
            class="img-fluid rounded-0"
            src="/imgs/draws/chatting.svg"
          />
        </div>

        <div class="col-12 ml-auto col-md-6 col-lg-5">
          <h1>Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
          <p>
            <a
              class="btn btn-primary mt-4 mb-5 mb-md-0"
              href="https://www.froala.com"
              >Download</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
