<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Froala Design Blocks</h1>
        </div>
      </div>

      <div class="row pt-5 justify-content-center align-items-center">
        <div class="col-4">
          <img alt="image" class="img-fluid" src="/imgs/draws/developer.svg" />
        </div>
        <div class="col-4 offset-1">
          <img alt="image" class="img-fluid" src="/imgs/draws/git.svg" />
        </div>
      </div>
    </div>
  </section>
</template>
