<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-left align-items-center">
        <div class="col-12 col-md-6 col-lg-4">
          <h2>Your Website</h2>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
          <p class="lead"><a href="https://www.froala.com">Read More</a></p>
        </div>

        <div class="col-12 col-md-6 col-lg-4 pt-4 pt-md-0">
          <h2>Amazing Design</h2>
          <p class="lead">
            Right at the coast of the Semantics, a large language ocean. A small
            river named Dude a rge language ocean there live the blind.
          </p>
          <p class="lead"><a href="https://www.froala.com">Read More</a></p>
        </div>

        <div class="col-12 col-md-8 m-auto m-lg-0 col-lg-4 pt-5 pt-lg-0">
          <img alt="image" class="img-fluid" src="/imgs/draws/tabs.svg" />
        </div>
      </div>
    </div>
  </section>
</template>
