<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-12 col-lg-6 col-xl-5">
          <h1>Design Blocks</h1>
          <p class="lead mb-5">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>

          <p><strong>Works in every browser:</strong></p>
          <p class="h1 text-muted">
            <i class="fab fa-chrome mr-3"></i>
            <i class="fab fa-safari mr-3"></i>
            <i class="fab fa-firefox mr-3"></i>
            <i class="fab fa-edge"></i>
          </p>
        </div>
        <div
          class="col-12 col-md-8 m-auto ml-lg-auto mr-lg-0 col-lg-6 pt-5 pt-lg-0"
        >
          <img alt="image" class="img-fluid" src="/imgs/draws/browsers.svg" />
        </div>
      </div>
    </div>
  </section>
</template>
