<template>
  <section class="fdb-block py-0">
    <div
      class="container py-5 my-5 bg-r"
      style="background-image: url(https://backend.vixeven.dev/imgs/shapes/9.svg);"
    >
      <div class="row text-left py-5">
        <div class="col-12 col-md-8 col-lg-6 ml-sm-auto">
          <div class="fdb-box fdb-touch">
            <div class="row justify-content-center">
              <div class="col-12 col-xl-8 text-center">
                <h1>Froala Design Blocks</h1>
                <p class="lead">
                  When she reached the first hills of the Italic Mountains, she
                  had a last view back on the skyline of her hometown
                  Bookmarksgrove
                </p>

                <p class="h3 mt-4">
                  <a href="https://www.froala.com" class="btn btn-primary"
                    >Register</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
