<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <img alt="image" class="img-fluid" src="/imgs/draws/smile.svg" />
        </div>
        <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
          <h1>Froala Blocks</h1>
          <p class="lead">
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country, in which
            roasted parts of sentences fly into your mouth.
          </p>
          <p>
            <a class="btn btn-secondary mt-4" href="https://www.froala.com"
              >Download</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
