<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Froala Design Blocks</h1>
          <p class="lead">Subtitle text about launch comes here.</p>
          <p class="lead">
            <a href="https://www.froala.com" class="mx-2"
              >Learn More <i class="fas fa-angle-right"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              >Buy <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <img
            alt="image"
            class="img-fluid mt-5"
            src="/imgs/draws/hosting.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
