<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-7 col-lg-5 ml-md-auto">
          <h1>Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts
          </p>

          <p class="mt-5">
            <img
              alt="image"
              height="25"
              class="mr-4"
              src="/imgs/customers/samsung.svg"
            />
            <img
              alt="image"
              height="25"
              class="mr-4"
              src="/imgs/customers/adobe.svg"
            />
            <img alt="image" height="25" src="/imgs/customers/amazon.svg" />
          </p>
        </div>

        <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pt-5 pt-md-0">
          <img
            alt="image"
            class="img-fluid rounded-0"
            src="/imgs/draws/customer-survey.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
