<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
          <div class="row justify-content-center pb-5">
            <div class="col-4 col-sm-3 col-md-2">
              <img alt="image" class="fdb-icon" src="/imgs/icons/layers.svg" />
            </div>
            <div class="col-4 col-sm-3 col-md-2">
              <img alt="image" class="fdb-icon" src="/imgs/icons/map.svg" />
            </div>
            <div class="col-4 col-sm-3 col-md-2">
              <img alt="image" class="fdb-icon" src="/imgs/icons/monitor.svg" />
            </div>
          </div>

          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
