<template>
  <header class="bg-dark">
    <div class="container">
      <nav class="navbar">
        <a href="https://www.froala.com">
          <img src="/imgs/logo.png" height="30" alt="image" />
        </a>
      </nav>
    </div>
  </header>
</template>
