<template>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="https://www.froala.com">
          <img src="/imgs/logo.png" height="30" alt="image" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav5"
          aria-controls="navbarNav5"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav5">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="https://www.froala.com"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Team</a>
            </li>
          </ul>

          <ul class="navbar-nav justify-content-end ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Docs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Log In</a>
            </li>
          </ul>

          <a class="btn btn-primary ml-md-3" href="https://www.froala.com"
            >Button</a
          >
        </div>
      </nav>
    </div>
  </header>
</template>
