<template>
  <header class="bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand-md no-gutters">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav10"
          aria-controls="navbarNav10"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="col-4 col-sm-2 text-center order-lg-6">
          <a href="https://www.froala.com">
            <img src="/imgs/logo.png" height="30" alt="image" />
          </a>
        </div>

        <div
          class="collapse navbar-collapse col-12 col-md-5 order-lg-1"
          id="navbarNav10"
        >
          <ul class="navbar-nav col-5">
            <li class="nav-item active">
              <a class="nav-link" href="https://www.froala.com"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Team</a>
            </li>
          </ul>
        </div>

        <ul
          class="navbar-nav justify-content-end col-sm-5 order-lg-12 d-none d-md-flex"
        >
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com"
              ><i class="fab fa-slack"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>
