<template>
  <header class="bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="https://www.froala.com">
          <img src="/imgs/logo.png" height="30" alt="image" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav11"
          aria-controls="navbarNav11"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav11">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="https://www.froala.com"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">About</a>
            </li>
          </ul>

          <a class="btn btn-outline-light ml-md-3" href="https://www.froala.com"
            >Button</a
          >
        </div>
      </nav>
    </div>
  </header>
</template>
