<template>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-md no-gutters">
        <div class="col-3 text-left">
          <a href="https://www.froala.com">
            <img src="/imgs/logo.png" height="30" alt="image" />
          </a>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse-2"
          aria-controls="navbarNav7"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse navbar-collapse-2 justify-content-center col-md-6"
          id="navbarNav7"
        >
          <ul class="navbar-nav justify-content-center">
            <li class="nav-item active">
              <a class="nav-link" href="https://www.froala.com"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Contact</a>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse navbar-collapse-2">
          <ul class="navbar-nav ml-auto justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Log In</a>
            </li>
          </ul>

          <a class="btn btn-primary ml-md-3" href="https://www.froala.com"
            >Register</a
          >
        </div>
      </nav>
    </div>
  </header>
</template>
