<template>
  <header class="bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand-md no-gutters">
        <div class="col-2 text-left">
          <a href="https://www.froala.com">
            <img src="/imgs/logo.png" height="30" alt="image" />
          </a>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse-3"
          aria-controls="navbarNav14"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-center col-md-8 navbar-collapse-3"
          id="navbarNav14"
        >
          <ul class="navbar-nav justify-content-center">
            <li class="nav-item active">
              <a class="nav-link" href="https://www.froala.com"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com">Contact</a>
            </li>
          </ul>
        </div>

        <div
          class="collapse navbar-collapse justify-content-end col-md-2 navbar-collapse-3"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.froala.com"
                >Log In <i class="fas fa-sign-in-alt"></i
              ></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</template>
