<template>
  <div class="about">
    <NavBar />
    <h1>Despre <span>buildiv</span></h1>
    <div class="devider"></div>
    <div class="description">
      <p>
        <span>buildiv</span> este numele proiectului creat pentru lucrare de
        diplomă. Autorul proiectului este
        <a href="https://instagram.com/vixeven" target="_blank"
          >Victor Șaptefrați</a
        >, student anul 4 la
        <a href="http://www.ceef.md" target="_blank"
          >Centrul de Excelență în Economie și Finanțe</a
        >, facultatea Informatică.
      </p>
      <p>
        Tehnologiile utilizate în acest proiect sunt
        <a href="https://cli.vuejs.org" target="_blank">Vue CLI</a> pentru
        crearea aplicației frontend (modulul vizual),
        <a href="https://expressjs.com/" target="_blank">ExpressJS</a> (un
        framework în NodeJS) pentru a creea aplicația de backend,
        <a href="https://www.mongodb.com/" target="_blank">MongoDB</a> pentru
        baza de date și altele.
      </p>
      <p>
        Ideia acestei platforme a fost inspirată de la aplicațiile desktop
        <a href="https://www.wikiwand.com/ro/WYSIWYG" target="_blank">WYSIWYG</a
        >. Acest tip de aplicații oferă utilizatorului posibilitatea de a
        transforma lucrul material vizual în formă identică într-o versiune
        digitală. Într-un mod asemănător utilizatorul va putea include
        componentele necesare pentru a întocmi o pagină web ce corespunde
        nevoilor sale. Acest proiect nu ar fi existat fără ajutorul librăriilor
        <a href="http://interactjs.io/" target="_blank">interactJS</a> și
        <a href="https://element.eleme.io/#/en-US" target="_blank"
          >Element UI</a
        >
        datorită cărora utilizatorul poate lucra cu o platformă interactivă și
        cu un design intuitiv.
      </p>
    </div>
    <Timeline />
    <Messages v-if="this.$store.getters.isAdmin" />
    <Contact v-else />
    <Footer />
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import Timeline from "@/components/Timeline.vue";
import Contact from "@/components/Contact.vue";
import Messages from "@/components/Messages.vue";
import Footer from "@/components/Footer.vue";

export default {
  components: {
    NavBar,
    Timeline,
    Contact,
    Messages,
    Footer
  }
};
</script>

<style lang="scss" scoped>
h1 {
  font-size: 55px;
  margin: 50px 0 20px;
  > span {
    font-weight: 700;
  }
}
.devider {
  height: 3px;
  width: 50px;
  border-radius: 30px;
  margin: 50px auto 35px;
  background-color: #666fff;
}
.description {
  text-align: left;
  width: 60%;
  margin: 15px auto;
  p {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.3;
    > span {
      font-weight: 700;
    }
  }
  a {
    color: #6e6e6e;
    &:hover {
      text-decoration: none;
    }
  }
}
</style>
