<template>
  <div class="about">
    <NavBar />
    <Templates />
    <Footer />
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import Templates from "@/components/Templates.vue";
import Footer from "@/components/Footer.vue";

export default {
  components: {
    NavBar,
    Templates,
    Footer
  }
};
</script>
