<template>
  <div class="about">
    <div class="wrapper">
      <Frame
        v-bind:class="{ scale: editMode }"
        class="frame"
        v-on:click.native="disableMode"
        :template="$route.params.template"
      />
      <Elements
        class="elements bounceInRight"
        v-bind:class="{ hide: !editMode }"
      />
    </div>
    <div class="footer">
      <router-link class="menu-item" to="/build">buildiv</router-link> © 2019
    </div>
    <div class="settings">
      <el-button
        type="primary"
        icon="el-icon-upload2"
        circle
        class="item"
        v-on:click="save()"
      ></el-button>
      <br />
      <el-button
        type="primary"
        icon="el-icon-edit"
        circle
        class="item"
        v-on:click="editMode = !editMode"
      ></el-button>
      <br />
      <el-button
        type="primary"
        icon="el-icon-download"
        circle
        class="item"
        v-on:click="download()"
      ></el-button>
    </div>
  </div>
</template>

<script>
import Elements from "@/components/Elements.vue";
import Frame from "@/components/Frame.vue";

export default {
  components: {
    Elements,
    Frame
  },
  data: () => ({
    editMode: false
  }),
  updated: () => {
    console.log("updated");
  },
  methods: {
    disableMode() {
      if (this.editMode) this.editMode = false;
    },
    save() {
      this.$root.$emit("saveHTML");
    },
    download() {
      this.$root.$emit("downloadHTML");
    }
  }
};
</script>

<style lang="scss" scoped>
.about {
  align-content: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  .wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 15px;
    .frame {
      margin-right: 10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
      border: 1px solid #dcdfe6;
      transition: all 0.4s ease-in-out;
      width: 90vw;
    }
    .elements {
      width: 100%;
    }
  }
  .footer {
    border-top: solid 1px #fafafa;
    width: 100%;
    flex-shrink: 20px;
  }
  .scale {
    transform: scale(0.8);
    width: 100vw;
    z-index: 2;
  }
  .settings {
    z-index: 1;
    position: fixed;
    bottom: 50%;
    top: 35%;
    left: 10px;
    .item {
      margin: 6px;
    }
  }
  .hide {
    display: none;
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  animation-name: bounceInRight;
  animation-fill-mode: both;
  animation-duration: 1s;
}
</style>
