<template>
  <div class="about">
    <NavBar />
    <Features />
    <Footer />
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import Features from "@/components/Features.vue";
import Footer from "@/components/Footer.vue";

export default {
  components: {
    NavBar,
    Features,
    Footer
  }
};
</script>
