<template>
  <div class="home">
    <NavBar />
    <Intro />
    <Features />
    <Footer />
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import Intro from "@/components/Intro.vue";
import Features from "@/components/Features.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "home",
  components: {
    NavBar,
    Intro,
    Features,
    Footer
  }
};
</script>

<style lang="scss" scoped>
hr {
  margin: 72px 0px;
  border: 0;
  height: 1px;
  width: 100%;
  background: #dadce0;
}
</style>
