<template>
  <div class="home">
    <NavBar />
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";

export default {
  name: "home",
  components: {
    NavBar
  }
};
</script>

<style lang="scss" scoped>
hr {
  margin: 72px 0px;
  border: 0;
  height: 1px;
  width: 100%;
  background: #dadce0;
}
</style>
