<template>
  <div class="register">
    <NavBar />
    <Register />
    <Footer />
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import Register from "@/components/Register.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "register",
  components: {
    NavBar,
    Register,
    Footer
  }
};
</script>

<style lang="scss" scoped></style>
