<template>
  <section class="fdb-block">
    <div class="container align-items-center justify-content-center d-flex">
      <div class="row align-items-center text-left">
        <div class="col-12 col-sm-6">
          <img alt="image" class="img-fluid" src="/imgs/draws/sync2.svg" />
        </div>

        <div class="col-12 col-lg-5 ml-auto pt-5 pt-lg-0">
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.
          </p>
          <p class="mt-4">
            <a href="https://www.froala.com" class="btn btn-secondary"
              >Call to Action</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
