<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-auto text-center">
          <a class="btn btn-outline-secondary" href="https://www.froala.com"
            >Download</a
          >
        </div>

        <div class="col-auto mt-4 mt-sm-0">
          <h2>Use Froala Design Blocks for free in your project</h2>
        </div>
      </div>
    </div>
  </section>
</template>
