<template>
  <section class="fdb-block py-0">
    <div
      class="container py-5 my-5"
      style="background-image: url(https://backend.vixeven.dev/imgs/shapes/2.svg);"
    >
      <div class="row justify-content-center py-5">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <div class="fdb-box">
            <h1>Call to Action</h1>
            <p class="lead">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts
            </p>
            <p class="mt-4">
              <a class="btn btn-primary" href="https://www.froala.com"
                >Download</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
