<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center text-left">
        <div class="col-12 col-md-8">
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove.
          </p>
        </div>
        <div class="col-12 col-md-3 ml-auto text-left text-md-right">
          <p>
            <a href="https://www.froala.com" class="btn btn-primary"
              >Call to Action</a
            >
          </p>
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-6 offset-3">
          <img alt="image" class="img-fluid" src="/imgs/draws/rocket.svg" />
        </div>
      </div>
    </div>
  </section>
</template>
