<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
          <img alt="image" class="img-fluid" src="/imgs/draws/smile.svg" />
        </div>

        <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0">
          <h2>Call to action</h2>
          <p class="lead">
            On her way she met a copy. The copy warned the Little Blind Text,
            that where it came from it would have been rewritten a thousand
            times and everything that was left from its origin would be the word
            "and" and the Little Blind Text should turn around and return to its
            own, safe country.
          </p>
          <p class="mt-4">
            <a class="btn btn-secondary" href="https://www.froala.com"
              >Take a Tour</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
