<template>
  <section
    class="fdb-block bg-dark fdb-viewport"
    style="background-image: url(https://backend.vixeven.dev/imgs/hero/blue.svg);"
  >
    <div class="container align-items-center justify-content-center d-flex">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-md-10 col-lg-8">
          <h1>
            Froala Design Blocks is Open Source and free to use in your apps
          </h1>
          <p class="mt-5">
            <a href="https://www.froala.com" class="btn btn-outline-light"
              >Call to Action</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
