<template>
  <section class="fdb-block py-0">
    <div
      class="container py-5 my-5 bg-r"
      style="background-image: url(https://backend.vixeven.dev/imgs/shapes/4.svg);"
    >
      <div class="row justify-content-end py-5">
        <div class="col-12 col-md-8 col-lg-6 mr-5 text-center">
          <div class="fdb-box">
            <h1>Call to Action</h1>
            <p class="lead">
              When she reached the first hills of the Italic Mountains, she had
              a last view back on the skyline of her hometown Bookmarksgrove
            </p>
            <p class="mt-4">
              <a class="btn btn-secondary" href="https://www.froala.com"
                >Download</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
