<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
          <h1>Far far away, behind the word mountains, far from</h1>
          <p class="mt-5">
            <a class="btn btn-secondary" href="https://www.froala.com"
              >Download</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
