<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-5 text-center pb-md-5">
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia.
          </p>
          <p class="mt-4">
            <a href="https://www.froala.com" class="btn btn-primary"
              >Call to Action</a
            >
          </p>
        </div>
      </div>

      <div class="row text-center justify-content-center pt-5">
        <div class="col-12 col-sm-6 col-lg-3">
          <img alt="image" class="fdb-icon" src="/imgs/icons/cloud.svg" />

          <h3><strong>Feature One</strong></h3>

          <p>Far far away, behind the word mountains, far from the countries</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/gift.svg" />

          <h3><strong>Feature Two</strong></h3>

          <p>Separated they live in Bookmarksgrove right at the coast</p>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 pt-4 pt-lg-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/github.svg" />

          <h3><strong>Feature Three</strong></h3>

          <p>A small river named Duden flows by their place and supplies it</p>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 pt-4 pt-lg-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/compass.svg" />

          <h3><strong>Feature Four</strong></h3>

          <p>Far far away, behind the word mountains, far from the countries</p>
        </div>
      </div>
    </div>
  </section>
</template>
