<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Froala Design Blocks</h1>
          <p class="h2">
            Far far away, behind the word mountains, far from.
          </p>
        </div>
      </div>

      <div class="row align-items-center pt-2 pt-lg-5">
        <div class="col-12 col-md-8 col-lg-7">
          <h2>Call to action</h2>
          <p class="lead">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.
          </p>
          <p class="mt-4">
            <a class="btn btn-primary" href="https://www.froala.com"
              >Take a Tour</a
            >
          </p>
        </div>

        <div class="col-8 col-md-4 m-auto m-md-0 ml-md-auto pt-5">
          <img alt="image" class="img-fluid" src="/imgs/draws/git.svg" />
        </div>
      </div>
    </div>
  </section>
</template>
