<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
          <h1>Call to Action</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts
          </p>
          <p class="mt-5 mt-sm-4">
            <a class="btn btn-secondary" href="https://www.froala.com"
              >Download</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
