<template>
  <section class="fdb-block">
    <div class="container align-items-end justify-content-center d-flex">
      <div class="row align-items-top text-left">
        <div class="col-12 col-md-6 col-lg-5">
          <p class="mb-5 mt-5">
            <img alt="image" height="40" src="/imgs/logo.png" />
          </p>
          <h1>Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
          <p class="mt-4">
            <a href="https://www.froala.com" class="btn btn-primary"
              >Call to Action</a
            >
          </p>
        </div>

        <div class="col-12 col-sm-4 col-md-6 col-lg-4 m-auto pt-5">
          <img
            alt="image"
            class="img-fluid rounded-0"
            src="/imgs/draws/sync.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
