<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-6 text-center">
          <h2>
            <strong
              >Right at the coast of the Semantics, a large language
              ocean.</strong
            >
          </h2>
          <p class="mt-5 mt-sm-4">
            <a class="btn btn-outline-primary" href="https://www.froala.com"
              >Download</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
