<template>
  <section
    class="fdb-block fdb-viewport bg-dark"
    style="background-image: url(https://backend.vixeven.dev/imgs/hero/purple.svg);"
  >
    <div class="container justify-content-center align-items-center d-flex">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-md-8">
          <img alt="image" class="fdb-icon" src="/imgs/icons/coffee.svg" />
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
          <p class="mt-5">
            <a href="https://www.froala.com" class="btn btn-dark"
              >Call to Action</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
