<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center pb-0 pb-lg-4">
        <div class="col-12">
          <h1>Call to action</h1>
        </div>
      </div>
      <div class="row text-center pt-4 pt-md-5">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 m-sm-auto">
          <img alt="image" class="fdb-icon" src="/imgs/icons/gift.svg" />
          <h3>First Action</h3>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts
          </p>
          <p class="mt-3">
            <a class="btn btn-light sl-1" href="https://www.froala.com"
              >Button</a
            >
          </p>
        </div>

        <div
          class="col-12 col-sm-10 col-md-6 col-lg-4 ml-sm-auto mr-sm-auto mt-5 mt-md-0"
        >
          <img alt="image" class="fdb-icon" src="/imgs/icons/cloud.svg" />
          <h3>Second Action</h3>
          <p>
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.
          </p>
          <p class="mt-3">
            <a class="btn btn-light sl-1" href="https://www.froala.com"
              >Button</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
