<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
          <p class="lead">
            "Separated they live in Bookmarksgrove right at the coast of the
            Semantics, far far away, behind the word mountains, far from the
            countries Vokalia and Consonantia, there live the blind texts.
            Separated they live in Bookmarksgrove right at the coast."
          </p>

          <p class="mt-5 mt-sm-4">
            <a class="btn btn-primary" href="https://www.froala.com"
              >Download</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
