<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">
          <h1>Call to Action</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts
          </p>
          <p class="mt-5 mt-sm-4">
            <a class="btn btn-primary" href="https://www.froala.com"
              >Download</a
            >
          </p>
        </div>
      </div>

      <div class="row pt-5 pb-3">
        <div class="col-12 text-center">
          <p><strong>Fortune 100 companies are using our products</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <img
            alt="image"
            height="30"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/adobe.svg"
          />
          <img
            alt="image"
            height="30"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/amazon.svg"
          />
          <img
            alt="image"
            height="30"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/ebay.svg"
          />
          <img
            alt="image"
            height="30"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/samsung.svg"
          />
          <img
            alt="image"
            height="30"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/orange.svg"
          />
          <img
            alt="image"
            height="30"
            class="ml-3 mr-3 mb-2 mt-2"
            src="/imgs/customers/salesforce.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
