<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-4 text-center">
          <p class="lead">
            Follow us and ask more on:
          </p>
          <p class="h2">
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-google"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-pinterest"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
