<template>
  <section class="fdb-block bg-gray">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
          <p class="h2">support@website.com</p>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
          <p><br /></p>
          <p class="h2">
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-google"></i
            ></a>
            <a href="https://www.froala.com" class="mx-2"
              ><i class="fab fa-pinterest"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
