<template>
  <section class="fdb-block pt-0">
    <div class="container-fluid p-0 pb-5">
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8444388087937!2d26.101253041406952!3d44.43635311654287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4770adb5b7%3A0x58147f39579fe6fa!2zR3J1cHVsIFN0YXR1YXIgIkPEg3J1yJthIEN1IFBhaWHIm2Ui!5e0!3m2!1sen!2sro!4v1507381157656"
        width="100%"
        height="300"
        frameborder="0"
        style="border:0"
        allowfullscreen=""
      ></iframe>
    </div>
    <div class="container">
      <div class="row pt-5">
        <div class="col-12">
          <form>
            <div class="row">
              <div class="col-12 col-md">
                <label>First Name</label>
                <input type="text" class="form-control" />
              </div>
              <div class="col-12 col-md mt-4 mt-md-0">
                <label>Last Name</label>
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label>Your Email</label>
                <input type="email" class="form-control" />
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label>Subject (optional but helpful)</label>
                <input type="email" class="form-control" />
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <label>How can we help?</label>
                <textarea
                  class="form-control"
                  name="message"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <div class="row mt-4 text-center">
              <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>
