<template>
  <section class="fdb-block py-0">
    <div
      class="container py-5"
      style="background-image: url(https://backend.vixeven.dev/imgs/shapes/6.svg);"
    >
      <div class="row text-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
          <h1>Contact Us</h1>
          <p class="lead">
            If you’re already an active user, please
            <a href="https://www.froala.com">sign in</a> before contacting us.
          </p>
        </div>
      </div>
      <div class="row-50"></div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
          <form>
            <div class="row">
              <div class="col">
                <label>Your Email Address</label>
                <input type="text" class="form-control" />
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label>Subject (optional but helpful)</label>
                <input type="email" class="form-control" />
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label>How can we help?</label>
                <textarea
                  class="form-control"
                  name="message"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col text-right">
                <button type="submit" class="btn btn-dark">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row-100"></div>
    </div>

    <div class="container-fluid p-0">
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8444388087937!2d26.101253041406952!3d44.43635311654287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4770adb5b7%3A0x58147f39579fe6fa!2zR3J1cHVsIFN0YXR1YXIgIkPEg3J1yJthIEN1IFBhaWHIm2Ui!5e0!3m2!1sen!2sro!4v1507381157656"
        width="100%"
        height="300"
        frameborder="0"
        style="border:0"
        allowfullscreen=""
      ></iframe>
    </div>
  </section>
</template>
