<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-7">
          <h1>Contact Us</h1>
          <p class="lead">
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.
          </p>
        </div>
      </div>
      <div class="row-70"></div>
      <div class="row">
        <div class="col-12 col-md-8 col-lg m-auto">
          <form>
            <div class="row">
              <div class="col">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter email"
                />
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Subject"
                />
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <textarea
                  class="form-control"
                  name="message"
                  rows="3"
                  placeholder="How can we help?"
                ></textarea>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-12 col-md-8 col-lg pt-5 m-auto pt-lg-0">
          <iframe
            class="mb-4"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8444388087937!2d26.101253041406952!3d44.43635311654287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4770adb5b7%3A0x58147f39579fe6fa!2zR3J1cHVsIFN0YXR1YXIgIkPEg3J1yJthIEN1IFBhaWHIm2Ui!5e0!3m2!1sen!2sro!4v1507381157656"
            width="100%"
            height="200"
            frameborder="0"
            style="border:0"
            allowfullscreen=""
          ></iframe>

          <p><strong>Showroom</strong></p>
          <p>71 Pilgrim Avenue<br />Chevy Chase, MD 20815</p>
        </div>
      </div>
    </div>
  </section>
</template>
