<template>
  <section class="fdb-block py-0">
    <div
      class="container py-5 my-5"
      style="background-image: url(https://backend.vixeven.dev/imgs/shapes/9.svg);"
    >
      <div class="row py-5">
        <div class="col py-5">
          <div class="fdb-box fdb-touch">
            <div class="row text-center justify-content-center">
              <div class="col-12 col-md-9 col-lg-7">
                <h1>Contact Us</h1>
                <p class="lead">
                  Pityful a rethoric question ran over her cheek, then she
                  continued her way. On her way she met a copy.
                </p>
              </div>
            </div>

            <div class="row justify-content-center pt-4">
              <div class="col-12 col-md-8">
                <form>
                  <div class="row">
                    <div class="col-12 col-md">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Name"
                      />
                    </div>
                    <div class="col-12 col-md mt-4 mt-md-0">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Email"
                      />
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Subject"
                      />
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col">
                      <textarea
                        class="form-control"
                        name="message"
                        rows="3"
                        placeholder="How can we help?"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col text-center">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
