<template>
  <div class="contact">
    <p class="title">Contactează-ne</p>
    <el-form
      class="form"
      :model="contactForm"
      status-icon
      :rules="contactRules"
      ref="contactForm"
      label-width="120px"
    >
      <el-form-item label="E-mail" prop="email">
        <el-input
          type="text"
          v-model="contactForm.email"
          :disabled="!!this.$store.getters.email"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="Subiect" prop="subject">
        <el-input
          type="text"
          v-model="contactForm.subject"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="Mesaj" prop="message">
        <el-input
          type="textarea"
          v-model.number="contactForm.message"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="resetForm('contactForm')">Resetează</el-button>
        <el-button type="primary" @click="submitForm('contactForm')"
          >Trimite</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import ContactService from "@/services/ContactService";

export default {
  name: "Contact",
  data() {
    const emailRegex = email => {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    };
    const validateEmail = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("Introduceți e-mailul"));
      }
      setTimeout(() => {
        if (!emailRegex(value)) {
          callback(new Error("Această adresă este invalidă"));
        } else {
          callback();
        }
      }, 1000);
    };
    const validateSubject = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Introduceți subiectul"));
      } else {
        callback();
      }
    };
    const validateMessage = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Introduceți mesajul"));
      } else if (value.length < 10) {
        callback(new Error("Mesajul este prea scurt"));
      } else if (value.length > 70) {
        callback(new Error("Mesajul este prea lung"));
      } else {
        callback();
      }
    };
    return {
      contactForm: {
        email: "" || this.$store.getters.email,
        subject: "",
        message: ""
      },
      contactRules: {
        email: [{ validator: validateEmail, trigger: "blur" }],
        subject: [{ validator: validateSubject, trigger: "blur" }],
        message: [{ validator: validateMessage, trigger: "blur" }]
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          const { email, subject, message } = this.contactForm;

          try {
            const response = await ContactService.send({
              email,
              subject,
              message
            });
            this.$notify.success({
              title: "Succes",
              message: response.data.message
            });
            this.contactForm.subject = "";
            this.contactForm.message = "";
          } catch (e) {
            this.$notify.error({
              title: "Eroare",
              message: e.response.data
            });
          }
        } else {
          this.$notify.error({
            title: "Eroare",
            message: "Completați toate câmpurile"
          });
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>

<style lang="scss" scoped>
.contact {
  .form {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #f8f4f4;
    max-width: 450px;
    padding: 30px 70px 0 0;
    margin: auto;
    text-align: left;
  }
  .title {
    font-size: 25px;
    padding: 25px 0;
    font-weight: 500;
  }
}
</style>
