<template>
  <el-tabs tab-position="right" type="border-card">
    <el-tab-pane label="Antet" @tab-click="call(true)">
      <Headers />
    </el-tab-pane>
    <el-tab-pane label="Contacte" :lazy="true">
      <Contacts />
    </el-tab-pane>
    <el-tab-pane label="Conținut" :lazy="true">
      <Contents />
    </el-tab-pane>
    <el-tab-pane label="Forme" :lazy="true">
      <Forms />
    </el-tab-pane>
    <el-tab-pane label="Prețuri" :lazy="true">
      <Pricings />
    </el-tab-pane>
    <el-tab-pane label="Caracteristici" :lazy="true">
      <Features />
    </el-tab-pane>
    <el-tab-pane label="Testimoniale" :lazy="true">
      <Testimonials />
    </el-tab-pane>
    <el-tab-pane label="Acțiuni" :lazy="true">
      <CallToAction />
    </el-tab-pane>
    <el-tab-pane label="Echipă" :lazy="true">
      <Teams />
    </el-tab-pane>
    <el-tab-pane label="Subsol" :lazy="true">
      <Footers />
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import Teams from "@/blocks/Teams";
import Forms from "@/blocks/Forms";
import Headers from "@/blocks/Headers";
import Footers from "@/blocks/Footers";
import Contents from "@/blocks/Contents";
import Contacts from "@/blocks/Contacts";
import Pricings from "@/blocks/Pricings";
import Features from "@/blocks/Features";
import Testimonials from "@/blocks/Testimonials";
import CallToAction from "@/blocks/CallToAction";

export default {
  name: "Elements",
  components: {
    Teams,
    Forms,
    Headers,
    Footers,
    Contents,
    Features,
    Contacts,
    Pricings,
    Testimonials,
    CallToAction
  },
  methods: {
    call: function(event) {
      console.log(event);
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .el-tabs__content {
  max-height: 100%;
  overflow-y: scroll;
}
</style>
