<template>
  <div class="features">
    <div class="card">
      <div class="image">
        <img src="../assets/build.png" alt="Creează" />
      </div>
      <div class="description">
        <p class="title">Creează</p>
        <div class="description">
          Îți oferim posibilitatea să creezi pagini web printr-o platformă
          interactivă
        </div>
      </div>
    </div>
    <div class="card reverse">
      <div class="image">
        <img src="../assets/review.png" alt="Inspectează" />
      </div>
      <div class="description">
        <p class="title">Inspectează</p>
        <div class="description">
          Fără să scriți nici un rând de cod puteți realiza pagini personalizate
          și complexe
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="../assets/launch.png" alt="Lansează" />
      </div>
      <div class="description">
        <p class="title">Lansează</p>
        <div class="description">
          Pagina ta va fi disponibilă pe o adresă online pe care o poți
          distribui oricând
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Features"
};
</script>

<style lang="scss" scoped>
.features {
  width: $screen-lg-min;
  margin: auto;
  @include max-lg {
    width: 100%;
  }
  .card {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #f8f4f4;
    padding: 25px;
    @include max-lg {
      justify-content: center;
    }
    .image {
      width: 30%;
      img {
        width: 100%;
      }
    }
    > .description {
      @include min-lg {
        width: 80%;
      }
      text-align: center;
      .title {
        font-size: 30px;
        padding: 20px 0;
        font-weight: 700;
        color: #171717;
      }
      > .description {
        font-weight: 500;
      }
    }
  }
  .reverse {
    flex-wrap: wrap-reverse;
  }
}
</style>
