<template>
  <div class="footer">
    <svg
      class="lines"
      viewBox="0 0 1160 20"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      stroke-width="1"
      stroke="#000000"
      fill="none"
      fill-rule="evenodd"
      stroke-linecap="round"
    >
      <path d="M520.276482,4 L100.949983,4" id="Path-3-Copy-71"></path>
      <path d="M1055.5416,4 L541,4" id="Path-3-Copy-70"></path>
      <path class="b" d="M650,16 L2,16" id="Path-3-Copy-68"></path>
      <path class="b" d="M1158,16 L671,16" id="Path-3-Copy-69"></path>
    </svg>
    <div class="logo">
      <img src="../assets/logo.png" alt="" />
    </div>
    <div class="flex-justify">
      <div class="navigation">
        <div class="column">
          <router-link class="item" to="/build">Construiește</router-link>
          <router-link class="item" to="/explore">Explorează</router-link>
          <router-link class="item" to="/profile">Profil</router-link>
        </div>
        <div class="column">
          <router-link class="item" to="/about#timeline"
            >Cronologia</router-link
          >
          <router-link class="item" to="/about#contact">Contact</router-link>
          <router-link class="item" to="/terms"
            >Termeni și condiții</router-link
          >
        </div>
        <div class="column">
          <router-link class="item" to="/about">Despre</router-link>
          <a class="item" href="https://facebook.com/vixeven" target="_blank"
            >Facebook</a
          >
          <a class="item" href="https://gitlab.com/biuldiv" target="_blank"
            >GitLab</a
          >
        </div>
      </div>
      <video autoplay loop height="200px">
        <source src="../assets/video.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style lang="scss" scoped>
.footer {
  .lines {
    padding: 70px 0;
  }
  .flex-justify {
    display: flex;
    justify-content: space-between;
  }
  max-width: 1160px;
  @include max-lg {
    width: 90%;
  }
  text-align: left;
  margin: 0 auto;
  .logo {
    width: 100%;
    img {
      height: 30px;
    }
  }
  video {
    @include max-lg {
      display: none;
    }
  }
  .navigation {
    margin: 10px 0;
    display: flex;
    align-items: center;
    .column {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      align-content: center;
      .item {
        padding: 4px 0;
        margin-bottom: 15px;
        text-decoration: none;
        color: #2c3e50;
        &:hover {
          color: #2c2732;
        }
      }
    }
  }
}
</style>
