<template>
  <froala id="frame" :config="froalaOptions" v-model="content" />
</template>

<script>
import Vue from "vue";
import shortid from "shortid";
import TemplateService from "@/services/TemplateService";
import styles from "@/blocks/templates/styles";
import scripts from "@/blocks/templates/scripts";
import html2canvas from "html2canvas";
// import canvg from "canvg";

export default {
  href: null,
  name: "Frame",
  props: ["template"],
  content: "",
  methods: {
    render(el) {
      const component = require(`@/blocks/${el
        .slice(0, -2)
        .toLowerCase()}/${el}`).default;

      const ComponentClass = Vue.extend(component);
      const instance = new ComponentClass();

      instance.$mount();

      return instance.$el.outerHTML;
    },
    moveUp() {
      console.log(document.getElementById);
    }
  },
  created() {
    this.href = this.$route.params.template;
  },
  beforeMount: async function() {
    const templates = ["corporation", "mobile", "team"];
    if (!this.template) {
      console.log("new template");
      this.href = shortid.generate();
    } else if (templates.includes(this.template)) {
      console.log("new template from existing");

      let html = "";
      const components = require(`@/blocks/templates/${this.template}`).default;

      this.href = shortid.generate();

      components.forEach(element => {
        html += this.render(element);
      });

      this.content = html;
    } else {
      try {
        const response = await TemplateService.get({ href: this.template });
        this.content = response.data.html;
      } catch (e) {
        this.$notify.error({
          title: "Eroare",
          message: "A apărut o eroare! Încercați mai târziu"
        });
      }
    }
  },
  mounted() {
    this.$root.$on("saveHTML", async () => {
      try {
        const frame = document.querySelector(".fr-wrapper");

        let canvas = await html2canvas(frame, {});

        console.log(canvas);

        await TemplateService.save({
          token: localStorage.getItem("token"),
          href: this.href ? this.href : this.$route.params.template,
          html: this.content,
          preview: canvas.toDataURL()
        });
        if (this.href) this.$router.push(this.href);
      } catch (e) {
        console.log(e);
      }
    });
    this.$root.$on("downloadHTML", async () => {
      let title = this.href;
      const saveData = (function() {
        const a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        return function(data) {
          const blob = new Blob([data], { type: "octet/stream" }),
            url = window.URL.createObjectURL(blob);
          a.href = url;
          a.download = `${title}.html`;
          a.click();
          window.URL.revokeObjectURL(url);
        };
      })();

      const template = new DOMParser().parseFromString(
        this.content,
        "text/html"
      );

      console.log(template);
      const images = template.querySelectorAll("img");
      images.forEach(image => {
        image.attributes.src.value = `https://backend.vixeven.dev${
          image.attributes.src.value
        }`;
      });

      const html = `
        ${styles}
        ${template.body.outerHTML}
        ${scripts}
      `;

      saveData(html);
    });
  },
  data() {
    const self = this;
    return {
      content: "",
      froalaOptions: {
        placeholderText: "<h2>Adaugă aici componente și începe a edita</h2>",
        charCounterCount: false,
        toolbarInline: true,
        useClasses: true,
        dragInline: false,
        showNextToCursor: true,
        toolbarVisibleWithoutSelection: true,
        scrollableContainer: "#frame",
        imageEditButtons: ["imageReplace"],
        toolbarButtons: [
          "bold",
          "underline",
          "color",
          "paragraphFormat",
          "align",
          "-",
          "emoticons",
          "insertLink",
          "insertImage",
          "undo",
          "redo"
        ],
        linkEditButtons: ["linkEdit", "linkButton", "linkRemove"],
        events: {
          "froalaEditor.initialized": (e, _editor) => {
            let editor = _editor;
            self.$root.$on("insert", data => {
              console.log(data);

              const el = data;

              const component = require(`@/blocks/${el
                .slice(0, -2)
                .toLowerCase()}/${el}`).default;

              const ComponentClass = Vue.extend(component);
              const instance = new ComponentClass();

              instance.$mount();

              console.log(instance);

              this.content += instance.$el.outerHTML;
            });
            editor.events.on(
              "drop",
              dropEvent => {
                const el = dropEvent.originalEvent.dataTransfer.getData(
                  "component"
                );

                const component = require(`@/blocks/${el
                  .slice(0, -2)
                  .toLowerCase()}/${el}`).default;

                const ComponentClass = Vue.extend(component);
                const instance = new ComponentClass();

                instance.$mount();

                this.content += instance.$el.outerHTML;

                return false;
              },
              true
            );
          }
        }
      }
    };
  }
};
</script>

<style lang="scss">
#frame {
  overflow-y: scroll;
  height: 90vh;
  section {
    padding: 25px 0;
  }
  section:hover,
  section:active {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14), 0 0px 6px rgba(0, 0, 0, 0.16);
    z-index: 9999;
  }
}
.edit-buttons {
  position: fixed;
  top: 15px;
  left: 100px;
  z-index: 2;
}
</style>
