<template>
  <div class="intro">
    <div class="info">
      <div class="title">
        Să construim împreună un website modern.
      </div>
      <div class="description">
        Vă oferim uneltele necesare cu o adaptivitate înaltă pentru a construi o
        pagină web ce conține diverse elemente de care aveți nevoie
      </div>
      <div class="buttons">
        <router-link to="/build" class="link">Începe acum</router-link>
        <router-link to="/about" class="link blue">Mai multe</router-link>
      </div>
    </div>
    <img src="../assets/dash.png" />
  </div>
</template>

<style lang="scss" scoped>
.intro {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 100px;
  background-color: #f8f8f8;
  img {
    height: 100%;
    @include max-lg {
      display: none;
    }
  }
  .info {
    width: 400px;
    .title {
      font-size: 36px;
      text-align: left;
    }
    .description {
      padding: 25px 0 15px;
      font-size: 20px;
      text-align: left;
    }
    .buttons {
      display: flex;
      .link {
        transition: all 0.3s;
        border-radius: 5px;
        text-decoration: none;
        background-color: white;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #f8f4f4;
        font-size: 20px;
        padding: 15px 20px;
        margin: 20px 10px;
        letter-spacing: 1px;
        color: #3740ff;
        line-height: 1;
      }
      .blue {
        background-color: #3740ff;
        color: #f8f4f4;
        border: 1px solid #5059ff;
      }
    }
  }
}
</style>
