<template>
  <div class="login">
    <el-form
      class="form"
      :model="loginForm"
      status-icon
      :rules="loginRules"
      ref="loginForm"
      inp
    >
      <el-form-item prop="username">
        <el-input
          type="text"
          v-model="loginForm.username"
          placeholder="E-mail sau Nume de utilizator"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input
          type="password"
          v-model="loginForm.password"
          placeholder="Parola"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="resetForm('loginForm')">Resetează</el-button>
        <el-button type="primary" @click="submitForm('loginForm')"
          >Trimite</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "login",

  data() {
    const emailRegex = email => {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    };
    const usernameRegex = username => {
      var re = /^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$/;
      return re.test(username);
    };
    const passwordRegex = password => {
      var re = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!.<>%*#?&])[A-Za-z\d@$!%*.<>#?&]{8,}$/;
      return re.test(password);
    };
    const validateEmailOrUsername = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("Completați acest câmp"));
      }
      setTimeout(() => {
        if (!emailRegex(value) && !usernameRegex(value)) {
          callback(new Error("Datele introduse sunt este invalide"));
        } else {
          callback();
        }
      }, 500);
    };
    const validatePassword = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Introduceți parola"));
      } else if (value.length < 8) {
        callback(new Error("Parola este prea scurtă"));
      } else {
        setTimeout(() => {
          if (!passwordRegex(value)) {
            callback(new Error("Parola introdusă este invalidă"));
          } else {
            callback();
          }
        }, 500);
      }
    };
    return {
      loginForm: {
        username: "",
        password: ""
      },
      loginRules: {
        username: [{ validator: validateEmailOrUsername, trigger: "blur" }],
        password: [{ validator: validatePassword, trigger: "blur" }]
      }
    };
  },
  methods: {
    async login() {
      const { username, password } = this.loginForm;
      const data = { username, password };
      this.$store
        .dispatch("login", data)
        .then(() => {
          this.$notify.success({
            title: "Success",
            message: "Autentificare reușită"
          });
          this.$router.push("/");
          this.resetForm("loginForm");
        })
        .catch(error => {
          this.$notify.error({
            title: "Eroare",
            message: "Încercați din nou mai târziu",
            duration: 0
          });
          console.log(error);
          this.$store.commit("hide_modal");
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          this.login();
        } else {
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  .form {
    max-width: 400px;
    margin: auto;
    padding: 25px;
  }
}
</style>
