<template>
  <div class="messages" v-if="items.length > 0">
    <el-carousel :interval="5000" type="card" height="250px">
      <el-carousel-item v-for="item in items" :key="item._id">
        <div class="card">
          <div class="flex">
            <span class="subject">{{ item.subject }}</span>
            <span class="email">{{ item.email }}</span>
          </div>
          <p class="message">{{ item.message }}</p>
          <div class="flex">
            <span class="date">{{ toDate(item.date) }}</span>
            <div>
              <a
                :href="`mailto:${item.email}?Subject=${item.subject}`"
                target="_top"
                ><el-button
                  type="success"
                  icon="el-icon-edit-outline"
                  circle
                ></el-button
              ></a>
              <el-button
                @click="remove(item._id)"
                type="danger"
                icon="el-icon-delete"
                circle
              ></el-button>
            </div>
          </div>
        </div>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
import moment from "moment";
import ContactService from "@/services/ContactService";

export default {
  name: "messages",
  data() {
    return {
      items: {}
    };
  },
  methods: {
    async removeItem(_id) {
      try {
        const response = await ContactService.delete({ _id });
        this.$notify.success({
          title: "Succes",
          message: response.data.message
        });
        this.items.splice(this.items.findIndex(i => i._id === _id), 1);
      } catch (e) {
        this.$notify.error({
          title: "Eroare",
          message: e.response.data
        });
      }
    },
    async getMessages() {
      const response = await ContactService.get();
      this.items = response.data;
    },
    remove(_id) {
      this.$confirm(
        "Urmează să ștergeți mesajul pentru totdeauna. Continuați?",
        "Atenție",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Anulează",
          type: "warning"
        }
      ).then(() => {
        this.removeItem(_id);
      });
    },
    toDate(value) {
      return moment().calendar(value);
    }
  },
  mounted: function() {
    moment.locale("ro");
    this.getMessages();
  }
};
</script>

<style lang="scss" scoped>
.messages {
  max-width: 1068px;
  margin: 25px auto;
  .el-carousel__item {
    border-radius: 15px;
  }
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      color: #475669;
      font-size: 18px;
      opacity: 0.75;
      margin: 0;
    }
    .message {
      font-size: 30px;
      word-wrap: break-word;
      overflow: hidden;
    }
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      padding: 10px 18px;
    }
    .date {
      font-weight: 300;
      font-size: 16px;
    }
  }
  a {
    padding: 0 10px;
  }
  .el-carousel__item:nth-child(2n) {
    background-color: #ecf0f1;
  }
  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}
</style>
