<template>
  <div class="navbar">
    <div class="left">
      <div class="logo">
        <router-link to="/">
          <img src="../assets/logo.png" alt="" />
        </router-link>
      </div>
      <div class="menu-items">
        <router-link class="menu-item" to="/build">Construiește</router-link>
        <router-link class="menu-item" to="/explore">Explorează</router-link>
        <router-link class="menu-item" to="/about">Despre</router-link>
      </div>
    </div>
    <div class="right">
      <div class="auth" v-if="!isLoggedIn" @click="showModal">
        Autentificare
      </div>
      <div class="auth" v-if="isLoggedIn" @click="logout">
        Deconectați-vă
      </div>
    </div>

    <el-dialog
      title="Autentificare"
      :visible.sync="loginModal"
      width="30%"
      center
    >
      <div class="login">
        <Login />
      </div>
      <span slot="footer" class="dialog-footer">
        Nu aveți un cont?
        <router-link
          class="menu-item"
          v-on:click.native="hideModal()"
          to="/register"
          >Înregistrare</router-link
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Login from "@/components/Login";

export default {
  name: "NavBar",
  components: {
    Login
  },
  props: {
    msg: String
  },
  data() {
    return {
      centerDialogVisible: false
    };
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
    loginModal: {
      get: function() {
        return !this.isLoggedIn && this.$store.getters.loginModal;
      },

      set: function(value) {
        return value ? this.showModal() : this.hideModal();
      }
    }
  },
  methods: {
    logout: function() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/");
        this.$notify({
          message: "Ați fost deconectat cu succes"
        });
      });
    },
    async login(username, password) {
      this.$store
        .dispatch("login", { username, password })
        .then(() => {
          this.$router.push("/");
          this.centerDialogVisible = false;
        })
        .catch(err => console.log(err));
    },
    hideModal() {
      this.$store.commit("hide_modal");
    },
    showModal() {
      this.$store.commit("show_moldal");
    }
  }
};
</script>

<style scoped lang="scss">
.navbar {
  overflow: hidden;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  .left,
  .right {
    padding: 0 15px;
  }
  .left {
    display: flex;
    align-items: center;
    .logo img {
      height: 20px;
    }
    .menu-items {
      padding: 0 20px;
      .menu-item {
        margin: 0 10px;
        padding: 23px 10px;
        font-weight: bold;
        color: #2c3e50;
        text-decoration: none;
        &.router-link-exact-active {
          border-bottom: 3px solid #3740ff;
          color: #3740ff;
        }
        &:hover {
          color: #3740ff;
        }
      }
    }
  }
  .right {
    font-size: 20px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.login {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
</style>
