<template>
  <div class="register">
    <div class="title">
      Înregistrare
    </div>
    <el-form
      class="form"
      :model="registerForm"
      status-icon
      :rules="registerRules"
      ref="registerForm"
      label-width="150px"
      inp
    >
      <el-form-item label="Nume complet" prop="name">
        <el-input type="text" v-model="registerForm.name"></el-input>
      </el-form-item>
      <el-form-item label="E-mail" prop="email">
        <el-input
          type="text"
          v-model="registerForm.email"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="Nume de utilizator" prop="username">
        <el-input
          type="text"
          v-model="registerForm.username"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="Parola" prop="password">
        <el-input
          type="password"
          v-model="registerForm.password"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="Confirmă parola" prop="password2">
        <el-input
          type="password"
          v-model="registerForm.password2"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <div class="fw">
        <el-button @click="resetForm('registerForm')">Resetează</el-button>
        <el-button type="primary" @click="submitForm('registerForm')">
          Trimite
        </el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "register",

  data() {
    const emailRegex = email => {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    };
    const nameRegex = name => {
      var re = /[a-zA-z]+([ '-][a-zA-Z]+)*/;
      return re.test(name);
    };
    const passwordRegex = password => {
      var re = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
      return re.test(password);
    };
    const usernameRegex = username => {
      var re = /^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$/;
      return re.test(username);
    };
    const validateEmail = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("Introduceți e-mailul"));
      }
      setTimeout(() => {
        if (!emailRegex(value)) {
          callback(new Error("Această adresă este invalidă"));
        } else {
          callback();
        }
      }, 500);
    };
    const validateName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("Introduceți numele"));
      }
      setTimeout(() => {
        if (!nameRegex(value)) {
          callback(new Error("Format invalid. Ex: `Ion Popescu`"));
        } else {
          callback();
        }
      }, 500);
    };
    const validateUsername = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Introduceți numele de utilizator"));
      } else if (value.length < 4) {
        callback(new Error("Numele de utilizator este prea scurt"));
      } else {
        setTimeout(() => {
          if (!usernameRegex(value)) {
            callback(new Error("Format invalid"));
          } else {
            callback();
          }
        }, 500);
      }
    };
    const validatePassword = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Introduceți parola"));
      } else if (value.length < 8) {
        callback(new Error("Parola este prea scurtă"));
      } else {
        setTimeout(() => {
          if (!passwordRegex(value)) {
            callback(new Error("Parola este prea simplă"));
          } else {
            callback();
          }
        }, 500);
      }
    };
    const confirmPassword = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("Confirmați parola"));
      } else if (value.length < 8) {
        callback(new Error("Parola este prea scurtă"));
      } else if (value !== this.registerForm.password) {
        callback(new Error("Parolele nu coincid"));
      } else {
        callback();
      }
    };
    return {
      registerForm: {
        name: "",
        email: "",
        username: "",
        password: "",
        password2: ""
      },
      registerRules: {
        name: [{ validator: validateName, trigger: "blur" }],
        email: [{ validator: validateEmail, trigger: "blur" }],
        username: [{ validator: validateUsername, trigger: "blur" }],
        password: [{ validator: validatePassword, trigger: "blur" }],
        password2: [{ validator: confirmPassword, trigger: "blur" }]
      }
    };
  },
  methods: {
    async signUp() {
      const { name, username, email, password } = this.registerForm;
      const data = { name, username, email, password };
      this.$store
        .dispatch("register", data)
        .then(() => {
          this.$notify.success({
            title: "Success",
            message: "Înregistrare reușită"
          });
          this.$router.push("/");
        })
        .catch(error => {
          this.$notify.error({
            title: "Eroare",
            message: "Încercați din nou mai târziu",
            duration: 0
          });
          this.$refs["formName"].resetFields();
          console.log(error);
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          this.signUp();
        } else {
          console.log("Eroare!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>

<style lang="scss" scoped>
.register {
  .title {
    font-weight: 500;
    font-size: 28px;
    margin: 70px auto -20px;
  }
  .form {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #f8f4f4;
    border-radius: 10px;
    width: 420px;
    margin: 50px auto 0;
    padding: 40px;
  }
  .fw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
</style>
