<template>
  <div class="continer">
    <div style="text-align: right">
      <button
        class="toogle"
        v-on:click="showPersonal = !showPersonal"
        :disabled="!pages || !pages.length"
      >
        {{ toogleText() }}
      </button>
    </div>
    <div class="templates" v-if="!showPersonal">
      <router-link
        v-for="template in templates"
        :to="template.link"
        class="template"
        :key="template.id"
      >
        <div
          class="image"
          v-bind:style="{ 'background-image': 'url(' + template.bg + ')' }"
        ></div>
        <div class="title">
          {{ template.title }}
        </div>
      </router-link>
    </div>
    <div class="templates" v-if="showPersonal">
      <router-link
        v-for="page in pages"
        :to="`/constructor/${page.href}`"
        class="template"
        :key="page.href"
      >
        <div
          class="image"
          v-bind:style="{
            'background-image':
              'url(' + 'http://localhost:8082/previews/' + page.href + '.png)'
          }"
        ></div>
        <div class="title">
          {{ page.title }}
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import TemplateService from "@/services/TemplateService";

export default {
  pages: null,
  mounted: async function() {
    try {
      const response = await TemplateService.getMyPages({
        token: localStorage.getItem("token")
      });
      this.pages = response.data;
      console.log(this.pages);
    } catch (e) {
      this.$notify.error({
        title: "Eroare",
        message: "A apărut o eroare! Încercați mai târziu"
      });
    }
  },
  methods: {
    toogleText: function() {
      return this.showPersonal ? "Afișează șabloane" : "Afișează pagini";
    },
    offset: function(el) {
      const rect = el.getBoundingClientRect(),
        scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
        scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      return { top: rect.top + scrollTop, left: rect.left + scrollLeft };
    }
  },
  data: function() {
    return {
      showPersonal: false,
      pages: null,
      templates: [
        {
          id: 1,
          link: "/constructor",
          bg: "https://cdn.dribbble.com/users/95644/screenshots/5039840/x.png",
          title: "Nou"
        },
        {
          id: 2,
          link: "/constructor/mobile",
          bg:
            "https://cdn.dribbble.com/users/1489999/screenshots/6011720/attachments/1291857/web_1366___3.jpg",
          title: "Aplicație mobilă"
        },
        {
          id: 3,
          link: "/constructor/corporation",
          bg:
            "https://cdn.dribbble.com/users/549303/screenshots/6011180/attachments/1291807/dribbble_attach_-_homepage.png",
          title: "Companie"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.continer {
  width: 80vw;
  margin: auto;
  .toogle {
    margin: 100px 0 40px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    text-overflow: ellipsis;
    font-size: 0.975rem;
    font-weight: 500;
    height: 42px;
    border-radius: 5px;
    border: solid #fafafa;
    background-color: #fafafa;
    &:active {
      border: solid #ecf0f1;
      background-color: #ecf0f1;
      outline: none;
    }
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: rgb(202, 201, 201);
    }
  }
  .templates {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    .template {
      height: 420px;
      width: 30%;
      border: 2px solid #ecf0f1;
      border-radius: 8px;
      text-decoration: none;
      background-color: white;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      margin-bottom: 60px;
      &:hover .title {
        background-color: #fafafa;
      }
      .title {
        font-size: 20px;
        border-top: 1px solid #ecf0f1;
        padding: 5px 0;
        z-index: 3;
        background: white;
      }
      .image {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        transition: all 0.25s ease-out;
        &:focus,
        &:hover {
          transform: scale(1.05);
        }
        &before {
          content: "";
          display: none;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
</style>
