<template>
  <div class="timeline">
    <div class="path-start" id="timeline"><i></i></div>
    <div class="items">
      <div class="item">
        <p class="date">Octombrie 2018</p>
        <p class="description">Am ales tema</p>
      </div>
      <div class="item">
        <p class="date">Noiembrie 2018</p>
        <p class="description">Am initializat repozitoriul</p>
      </div>
      <div class="item">
        <p class="date">Decembrie 2018</p>
        <p class="description">Am inceput aplicatie pe partea de frontend</p>
      </div>
      <div class="item">
        <p class="date">Ianuarie 2018</p>
        <p class="description">Am creat modulul de autentificare</p>
      </div>
      <div class="item">
        <p class="date">Februarie 2018</p>
        <p class="description">Am creat pagina de construire a site-ului</p>
      </div>
      <div class="item">
        <p class="date">Martie 2018</p>
        <p class="description">Am adaugat posibilitatea de a distribui</p>
      </div>
      <div class="item">
        <p class="date">Aprilie 2018</p>
        <p class="description">Am mai facut eu cateva modificari</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style lang="scss" scoped>
.timeline {
  padding: 30px 0;

  .path-start {
    position: relative;
    height: 70px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: -1px;
      right: 50%;
      margin-right: -1px;
      width: 30px;
      border-radius: 0 0 50px 0;
      border-right: 1px dashed #433754;
      border-bottom: 1px dashed #433754;
    }

    i {
      display: block;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      margin: auto;
      background-color: #666fff;
      position: relative;
    }
  }

  .items {
    margin: auto;
    max-width: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .item {
      text-align: left;
      position: relative;
      padding: 50px 0;
      width: 500px;

      &:nth-child(odd) {
        align-self: flex-end;
        padding-left: 81px;

        &:after {
          left: 0;
          width: 70px;
          border-radius: 50px 0 0 50px;
          border-top: 1px dashed #433754;
          border-left: 1px dashed #433754;
          border-bottom: 1px dashed #433754;
        }
      }

      &:nth-child(2n) {
        align-self: flex-start;
        padding-right: 81px;

        &:before {
          right: -20px;
        }

        &:after {
          right: 0;
          width: 130px;
          border-radius: 0 50px 50px 0;
          border-top: 1px dashed #433754;
          border-right: 1px dashed #433754;
          border-bottom: 1px dashed #433754;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        pointer-events: none;
      }

      &:not(:last-child) {
        margin-bottom: -1px;
      }

      &:last-child:after {
        bottom: auto;
        height: 50px;
        border-bottom: none !important;
        border-radius: 50px 0 0 0 !important;
      }

      .date {
        font-weight: 700;
        font-size: 20px;
        padding: 10px 0px;
      }
    }
  }
}
</style>
