<template>
  <div class="elements-list">
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/1.jpg"
      alt="CallToAction01"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/2.jpg"
      alt="CallToAction02"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/3.jpg"
      alt="CallToAction03"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/4.jpg"
      alt="CallToAction04"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/5.jpg"
      alt="CallToAction05"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/6.jpg"
      alt="CallToAction06"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/7.jpg"
      alt="CallToAction07"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/8.jpg"
      alt="CallToAction08"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/9.jpg"
      alt="CallToAction09"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/10.jpg"
      alt="CallToAction10"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/11.jpg"
      alt="CallToAction11"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/12.jpg"
      alt="CallToAction12"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/13.jpg"
      alt="CallToAction13"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/14.jpg"
      alt="CallToAction14"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/15.jpg"
      alt="CallToAction15"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/16.jpg"
      alt="CallToAction16"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/17.jpg"
      alt="CallToAction17"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/18.jpg"
      alt="CallToAction18"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/19.jpg"
      alt="CallToAction19"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/20.jpg"
      alt="CallToAction20"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/21.jpg"
      alt="CallToAction21"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/call-to-action/22.jpg"
      alt="CallToAction22"
    />
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "Headers",
  mounted() {
    $("img").on("click", e => {
      console.log(e.target.alt);
      this.$root.$emit("insert", e.target.alt);
    });
  }
};
</script>
