<template>
  <div class="elements-list">
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/contacts/1.jpg"
      alt="Contacts01"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/contacts/2.jpg"
      alt="Contacts02"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/contacts/3.jpg"
      alt="Contacts03"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/contacts/4.jpg"
      alt="Contacts04"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/contacts/5.jpg"
      alt="Contacts05"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/contacts/6.jpg"
      alt="Contacts06"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/contacts/7.jpg"
      alt="Contacts07"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/contacts/8.jpg"
      alt="Contacts08"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/contacts/9.jpg"
      alt="Contacts09"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/contacts/10.jpg"
      alt="Contacts10"
    />
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "Contacts",
  mounted() {
    $("img").on("click", e => {
      console.log(e.target.alt);
      this.$root.$emit("insert", e.target.alt);
    });

    $("img").on("dragstart", function(e) {
      e.originalEvent.dataTransfer.setData("component", e.target.alt);
    });
  }
};
</script>
