<template>
  <div class="elements-list">
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/1.jpg"
      alt="Features01"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/2.jpg"
      alt="Features02"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/3.jpg"
      alt="Features03"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/4.jpg"
      alt="Features04"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/5.jpg"
      alt="Features05"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/6.jpg"
      alt="Features06"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/7.jpg"
      alt="Features07"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/8.jpg"
      alt="Features08"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/9.jpg"
      alt="Features09"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/10.jpg"
      alt="Features10"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/11.jpg"
      alt="Features11"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/12.jpg"
      alt="Features12"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/13.jpg"
      alt="Features13"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/14.jpg"
      alt="Features14"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/15.jpg"
      alt="Features15"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/16.jpg"
      alt="Features16"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/17.jpg"
      alt="Features17"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/18.jpg"
      alt="Features18"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/19.jpg"
      alt="Features19"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/20.jpg"
      alt="Features20"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/21.jpg"
      alt="Features21"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/22.jpg"
      alt="Features22"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/23.jpg"
      alt="Features23"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/24.jpg"
      alt="Features24"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/25.jpg"
      alt="Features25"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/26.jpg"
      alt="Features26"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/27.jpg"
      alt="Features27"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/28.jpg"
      alt="Features28"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/29.jpg"
      alt="Features29"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/30.jpg"
      alt="Features30"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/31.jpg"
      alt="Features31"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/32.jpg"
      alt="Features32"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/features/33.jpg"
      alt="Features33"
    />
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "Features",
  mounted() {
    $("img").on("click", e => {
      console.log(e.target.alt);
      this.$root.$emit("insert", e.target.alt);
    });

    $("img").on("dragstart", function(e) {
      e.originalEvent.dataTransfer.setData("component", e.target.alt);
    });
  }
};
</script>
