<template>
  <div class="elements-list">
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/1.jpg"
      alt="Footers01"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/2.jpg"
      alt="Footers02"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/3.jpg"
      alt="Footers03"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/4.jpg"
      alt="Footers04"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/5.jpg"
      alt="Footers05"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/6.jpg"
      alt="Footers06"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/7.jpg"
      alt="Footers07"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/8.jpg"
      alt="Footers08"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/9.jpg"
      alt="Footers09"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/10.jpg"
      alt="Footers10"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/11.jpg"
      alt="Footers11"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/footers/12.jpg"
      alt="Footers12"
    />
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "Footers",
  mounted() {
    $("img").on("click", e => {
      console.log(e.target.alt);
      this.$root.$emit("insert", e.target.alt);
    });

    $("img").on("dragstart", function(e) {
      e.originalEvent.dataTransfer.setData("component", e.target.alt);
    });
  }
};
</script>
