<template>
  <div class="elements-list">
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/1.jpg"
      alt="Forms01"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/2.jpg"
      alt="Forms02"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/3.jpg"
      alt="Forms03"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/4.jpg"
      alt="Forms04"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/5.jpg"
      alt="Forms05"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/6.jpg"
      alt="Forms06"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/7.jpg"
      alt="Forms07"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/8.jpg"
      alt="Forms08"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/9.jpg"
      alt="Forms09"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/10.jpg"
      alt="Forms10"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/11.jpg"
      alt="Forms11"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/forms/12.jpg"
      alt="Forms12"
    />
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "Forms",
  mounted() {
    $("img").on("click", e => {
      console.log(e.target.alt);
      this.$root.$emit("insert", e.target.alt);
    });

    $("img").on("dragstart", function(e) {
      e.originalEvent.dataTransfer.setData("component", e.target.alt);
    });
  }
};
</script>
