<template>
  <div class="elements-list" v-on:click="call($event)">
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/1.jpg"
      alt="Headers01"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/2.jpg"
      alt="Headers02"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/3.jpg"
      alt="Headers03"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/4.jpg"
      alt="Headers04"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/5.jpg"
      alt="Headers05"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/6.jpg"
      alt="Headers06"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/7.jpg"
      alt="Headers07"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/8.jpg"
      alt="Headers08"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/9.jpg"
      alt="Headers09"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/10.jpg"
      alt="Headers10"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/11.jpg"
      alt="Headers11"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/12.jpg"
      alt="Headers12"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/13.jpg"
      alt="Headers13"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/14.jpg"
      alt="Headers14"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/15.jpg"
      alt="Headers15"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/16.jpg"
      alt="Headers16"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/17.jpg"
      alt="Headers17"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/18.jpg"
      alt="Headers18"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/19.jpg"
      alt="Headers19"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/headers/20.jpg"
      alt="Headers20"
    />
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "Headers",
  mounted() {
    $("img").on("click", e => {
      console.log(e.target.alt);
      this.$root.$emit("insert", e.target.alt);
    });

    $("img").on("dragstart", function(e) {
      e.originalEvent.dataTransfer.setData("component", e.target.alt);
    });
  }
};
</script>

<style lang="scss">
.elements-list {
  img {
    width: 100%;
  }
  > * {
    margin: 5px 0;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
}
</style>
