<template>
  <div class="elements-list">
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/pricings/1.jpg"
      alt="Pricings01"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/pricings/2.jpg"
      alt="Pricings02"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/pricings/3.jpg"
      alt="Pricings03"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/pricings/4.jpg"
      alt="Pricings04"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/pricings/5.jpg"
      alt="Pricings05"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/pricings/6.jpg"
      alt="Pricings06"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/pricings/7.jpg"
      alt="Pricings07"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/pricings/8.jpg"
      alt="Pricings08"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/pricings/9.jpg"
      alt="Pricings09"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/pricings/10.jpg"
      alt="Pricings10"
    />
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "Pricings",
  mounted() {
    $("img").on("click", e => {
      console.log(e.target.alt);
      this.$root.$emit("insert", e.target.alt);
    });

    $("img").on("dragstart", function(e) {
      e.originalEvent.dataTransfer.setData("component", e.target.alt);
    });
  }
};
</script>
