<template>
  <div class="elements-list">
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/teams/1.jpg"
      alt="Teams01"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/teams/2.jpg"
      alt="Teams02"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/teams/3.jpg"
      alt="Teams03"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/teams/4.jpg"
      alt="Teams04"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/teams/5.jpg"
      alt="Teams05"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/teams/6.jpg"
      alt="Teams06"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/teams/7.jpg"
      alt="Teams07"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/teams/8.jpg"
      alt="Teams08"
    />
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "Teams",
  mounted() {
    $("img").on("click", e => {
      console.log(e.target.alt);
      this.$root.$emit("insert", e.target.alt);
    });

    $("img").on("dragstart", function(e) {
      e.originalEvent.dataTransfer.setData("component", e.target.alt);
    });
  }
};
</script>
