<template>
  <div class="elements-list">
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/testimonials/1.jpg"
      alt="Testimonials01"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/testimonials/2.jpg"
      alt="Testimonials02"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/testimonials/3.jpg"
      alt="Testimonials03"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/testimonials/4.jpg"
      alt="Testimonials04"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/testimonials/5.jpg"
      alt="Testimonials05"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/testimonials/6.jpg"
      alt="Testimonials06"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/testimonials/7.jpg"
      alt="Testimonials07"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/testimonials/8.jpg"
      alt="Testimonials08"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/testimonials/9.jpg"
      alt="Testimonials09"
    />
    <img
      src="https://raw.githubusercontent.com/froala/design-blocks/dev/screenshots/testimonials/10.jpg"
      alt="Testimonials10"
    />
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "Testimonials",
  mounted() {
    $("img").on("click", e => {
      console.log(e.target.alt);
      this.$root.$emit("insert", e.target.alt);
    });

    $("img").on("dragstart", function(e) {
      e.originalEvent.dataTransfer.setData("component", e.target.alt);
    });
  }
};
</script>
