// max mixins

@mixin max-sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 @mixin max-md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 @mixin max-lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 @mixin max-xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }
 
 // min mixins
 
 @mixin min-sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 @mixin min-md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 @mixin min-lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 @mixin min-xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }
 