<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-sm-6 col-md-3">
          <img alt="image" class="fdb-icon" src="/imgs/icons/monitor.svg" />
          <h3><strong>The all-powerful Pointing has no control</strong></h3>
          <p class="mt-3">
            <a class="btn btn-primary" href="https://www.froala.com">Learn</a>
          </p>
        </div>

        <div class="col-12 col-sm-6 col-md-3 pt-5 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/layout.svg" />
          <h3><strong>Far far away, behind the word mountains</strong></h3>
          <p class="mt-3">
            <a class="btn btn-primary" href="https://www.froala.com">Learn</a>
          </p>
        </div>

        <div class="col-12 col-sm-6 col-md-3 pt-5 pt-md-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/map-pin.svg" />
          <h3><strong>The Big Oxmox advised her not to do so</strong></h3>
          <p class="mt-3">
            <a class="btn btn-primary" href="https://www.froala.com">Learn</a>
          </p>
        </div>

        <div class="col-12 col-sm-6 col-md-3 pt-5 pt-md-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/github.svg" />
          <h3><strong>The copy warned the Little Blind Text</strong></h3>
          <p class="mt-3">
            <a class="btn btn-primary" href="https://www.froala.com">Learn</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
