<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-left">
        <div class="col-12 col-md-8 m-auto col-lg-4">
          <div class="fdb-box fdb-touch">
            <h2>Feature 1</h2>
            <p>
              Far far away, behind the word mountains, far from the country
              Vokalia, there live the blind texts.
            </p>
            <p><a href="https://www.froala.com">Read more</a></p>
          </div>
        </div>
        <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
          <div class="fdb-box fdb-touch">
            <h2>Feature 2</h2>
            <p>
              Separated they live in Bookmarks right at the coast of the
              Semantics, a large language ocean.
            </p>
            <p><a href="https://www.froala.com">Read more</a></p>
          </div>
        </div>
        <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
          <div class="fdb-box fdb-touch">
            <h2>Feature 3</h2>
            <p>
              A small river named Duden flows by their small place and supplies
              it with the necessary regelialia.
            </p>
            <p><a href="https://www.froala.com">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
