<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>Features</h1>
        </div>
      </div>

      <div class="row text-center mt-5">
        <div class="col-12 col-sm-4">
          <img alt="image" class="fdb-icon" src="/imgs/icons/gift.svg" />
          <h3><strong>Feature One</strong></h3>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts
          </p>
        </div>

        <div class="col-12 col-sm-4 pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/cloud.svg" />
          <h3><strong>Feature Two</strong></h3>
          <p>
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.
          </p>
        </div>

        <div class="col-12 col-sm-4 pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/layers.svg" />
          <h3><strong>Feature Three</strong></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country,
          </p>
        </div>
      </div>

      <div class="row mt-5 justify-content-center">
        <div class="col-8">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/draws/product-tour.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
