<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-md-8 m-auto col-lg-4">
          <div class="fdb-box fdb-touch">
            <img alt="image" class="fdb-icon" src="/imgs/icons/map.svg" />
            <h2>Feature 1</h2>
            <p>
              Far far away, behind the word mountains, far from the countries.
            </p>
          </div>
        </div>

        <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
          <div class="fdb-box fdb-touch">
            <img alt="image" class="fdb-icon" src="/imgs/icons/cloud.svg" />
            <h2>Feature 2</h2>
            <p>Separated they live in Bookmarksgrove right at the coast.</p>
          </div>
        </div>

        <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
          <div class="fdb-box fdb-touch">
            <img alt="image" class="fdb-icon" src="/imgs/icons/package.svg" />
            <h2>Feature 3</h2>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
