<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Features</h1>
          <img alt="image" class="img-fluid mt-5" src="/imgs/draws/email.svg" />
        </div>
      </div>

      <div class="row text-center justify-content-center mt-5 pt-5">
        <div class="col-12 col-sm-4 col-lg-3 m-md-auto">
          <img alt="image" class="fdb-icon" src="/imgs/icons/monitor.svg" />
          <h3><strong>Feature 1</strong></h3>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 m-auto pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/map.svg" />
          <h3><strong>Feature 2</strong></h3>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 m-auto pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/package.svg" />
          <h3><strong>Feature 3</strong></h3>
        </div>
      </div>
    </div>
  </section>
</template>
