<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12col-md-10 col-lg-8 text-center">
          <h1>Froala Design Blocks</h1>
        </div>
      </div>

      <div class="row justify-content-center text-center mt-5">
        <div class="col-12 col-sm-6 col-md-5 col-lg-3">
          <img alt="image" class="fdb-icon" src="/imgs/icons/github.svg" />
          <h3><strong>Feature one longer Text</strong></h3>
        </div>

        <div class="col-12 col-sm-6 col-md-5 col-lg-3 pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/gift.svg" />
          <h3><strong>Feature two shorter</strong></h3>
        </div>
      </div>

      <div class="row justify-content-center text-center mt-5 mt-md-4 pt-5">
        <div class="col-12 col-md-10 col-lg-8">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/draws/social-media.svg"
          />
          <p><em>Coming this fall</em></p>
        </div>
      </div>
    </div>
  </section>
</template>
