<template>
  <section
    class="fdb-block bg-dark"
    style="background-image: url(https://backend.vixeven.dev/imgs/hero/purple.svg);"
  >
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Froala Design Blocks</h1>
        </div>
      </div>

      <div class="row-70"></div>

      <div class="row text-center justify-content-sm-center no-gutters">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto">
          <div class="fdb-box fdb-touch">
            <h2>Feature 1</h2>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia.
            </p>
            <p class="mt-4">
              <a href="https://www.froala.com"
                >Learn More <i class="fas fa-angle-right"></i
              ></a>
            </p>
          </div>
        </div>
        <div
          class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0"
        >
          <div class="fdb-box fdb-touch">
            <h2>Feature 2</h2>
            <p>
              Separated they live in Bookmarksgrove right at the coast of the
              Semantics, a large language ocean.
            </p>
            <p class="mt-4">
              <a href="https://www.froala.com"
                >Learn More <i class="fas fa-angle-right"></i
              ></a>
            </p>
          </div>
        </div>
        <div
          class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0"
        >
          <div class="fdb-box fdb-touch">
            <h2>Feature 3</h2>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
            <p class="mt-4">
              <a href="https://www.froala.com"
                >Learn More <i class="fas fa-angle-right"></i
              ></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
