<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-12 text-center">
          <h1>Froala Design Blocks</h1>
        </div>
      </div>

      <div class="row text-left align-items-center pt-5 pb-md-5">
        <div class="col-4 col-md-5">
          <img alt="image" class="img-fluid" src="/imgs/draws/designer.svg" />
        </div>

        <div class="col-12 col-md-5 m-md-auto">
          <h2><strong>Feature One</strong></h2>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
          <p>
            <a href="https://www.froala.com"
              >Learn More <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
      </div>

      <div class="row text-left align-items-center pt-5 pb-md-5">
        <div class="col-4 col-md-5 m-md-auto order-md-5">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/draws/design-life.svg"
          />
        </div>

        <div class="col-12 col-md-5">
          <h2><strong>Feature Two</strong></h2>
          <p class="lead">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.
          </p>
          <p>
            <a href="https://www.froala.com"
              >Learn More <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
      </div>

      <div class="row text-left align-items-center pt-5">
        <div class="col-4 col-md-5">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/draws/design-community.svg"
          />
        </div>

        <div class="col-12 col-md-5 m-md-auto">
          <h2><strong>Feature Three</strong></h2>
          <p class="lead">
            On her way she met a copy. The copy warned the Little Blind Text,
            that where it came from it would have been rewritten a thousand
            times and everything that was left from its origin would be the word
            "and" and the Little Blind Text should turn around.
          </p>
          <p>
            <a href="https://www.froala.com"
              >Learn More <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
