<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center pb-xl-5">
        <div class="col-12 col-md-8 text-center">
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
        </div>
      </div>

      <div class="row text-right align-items-center-lg align-items-end pt-5">
        <div class="col-7 col-sm-4 m-auto mb-md-0 mt-md-0 m-lg-auto">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/draws/simple-iphone.svg"
          />
        </div>

        <div
          class="col-12 col-md-7 col-lg-6 col-xl-5 m-auto text-left pt-5 pt-md-0"
        >
          <h3><strong>Feature One</strong></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country, in which
            roasted parts of sentences.
          </p>

          <h3 class="mt-4 mt-xl-5"><strong>Feature Two</strong></h3>
          <p>
            When she reached the first hills of the Italic Mountains, she had a
            last view back on the skyline of her hometown Bookmarksgrove, there
            live the blind texts.
          </p>

          <h3 class="mt-4 mt-xl-5"><strong>Feature Three</strong></h3>
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
