<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Features</h1>
        </div>
      </div>

      <div class="row text-left justify-content-center pt-5">
        <div class="col-12 col-md-6 col-lg-5 m-auto">
          <h3><strong>Feature One</strong></h3>

          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-md-0">
          <h3><strong>Feature Two</strong></h3>

          <p class="lead">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line.
          </p>
        </div>
      </div>

      <div class="row text-left justify-content-center pt-lg-4">
        <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
          <h3><strong>Feature Three</strong></h3>

          <p class="lead">
            On her way she met a copy. The copy warned the Little Blind Text,
            that where it came from it would have been rewritten a thousand
            times.
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
          <h3><strong>Feature Four</strong></h3>

          <p class="lead">
            A small river named Duden flows by their place far far away, behind
            the word mountains, far from the countries Vokalia and Consonantia.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
