<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center pb-xl-5">
        <div class="col-8 col-sm-8 text-center">
          <h1>Froala Design Blocks</h1>
          <img
            alt="image"
            class="img-fluid mt-5"
            src="/imgs/draws/development.svg"
          />
        </div>
      </div>

      <div class="row text-left justify-content-center pt-5">
        <div class="col-12 col-md-6 col-lg-5 m-sm-auto">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="/imgs/icons/github.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature One</strong></h3>
              <p>
                Even the all-powerful Pointing has no control about the blind
                texts it is an almost unorthographic life.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 m-sm-auto pt-3 pt-sm-5 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="/imgs/icons/layers.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature Two</strong></h3>
              <p>
                Separated they live in Bookmarksgrove, right at the coast of the
                Semantics, a large language ocean.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
