<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-left justify-content-sm-center">
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto">
          <h3><strong>Feature 1</strong></h3>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia.
          </p>
        </div>
        <div
          class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-md-0 pt-lg-0"
        >
          <h3><strong>Feature 2</strong></h3>
          <p>
            Separated they live in Bookmarksgrove right at the coast of the.
          </p>
        </div>
        <div
          class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0"
        >
          <h3><strong>Feature 3</strong></h3>
          <p>
            A small river named Duden flows by their place and supplies it with.
          </p>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0"
        >
          <h3><strong>Feature 4</strong></h3>
          <p>
            But nothing the copy said could convince her and so it didn’t take
            long
          </p>
        </div>
      </div>

      <div class="row text-left justify-content-sm-center pt-3 pt-lg-5">
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto">
          <h3><strong>Feature 5</strong></h3>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia.
          </p>
        </div>
        <div
          class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-md-0 pt-lg-0"
        >
          <h3><strong>Feature 6</strong></h3>
          <p>
            Separated they live in Bookmarksgrove right at the coast of the.
          </p>
        </div>
        <div
          class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0"
        >
          <h3><strong>Feature 7</strong></h3>
          <p>
            A small river named Duden flows by their place and supplies it with.
          </p>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0"
        >
          <h3><strong>Feature 8</strong></h3>
          <p>
            But nothing the copy said could convince her and so it didn’t take
            long
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
