<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-lg-right align-items-center">
        <div class="col-12 col-sm-6 col-lg-3">
          <img alt="image" class="fdb-icon" src="/imgs/icons/gift.svg" />
          <h4><strong>Feature One</strong></h4>
          <p>Far far away, behind the word mountains is hope.</p>

          <img
            alt="image"
            class="fdb-icon mt-3 mt-xl-5"
            src="/imgs/icons/layers.svg"
          />
          <h4><strong>Feature Two</strong></h4>
          <p>On her way she met a copy of the Little Blind Text.</p>

          <img
            alt="image"
            class="fdb-icon mt-3 mt-xl-5"
            src="/imgs/icons/map.svg"
          />
          <h4><strong>Feature Three</strong></h4>
          <p>Even the all-powerful has no control about the blind texts</p>
        </div>

        <div
          class="col-12 col-sm-6 col-lg-3 text-left pt-3 pt-sm-0 order-lg-12"
        >
          <img alt="image" class="fdb-icon" src="/imgs/icons/map-pin.svg" />
          <h4><strong>Feature Four</strong></h4>
          <p>Duden flows by their place, behind the word mountains.</p>

          <img
            alt="image"
            class="fdb-icon mt-3 mt-xl-5"
            src="/imgs/icons/package.svg"
          />
          <h4><strong>Feature Five</strong></h4>
          <p>Separated they live in Bookmark right at the coast</p>

          <img
            alt="image"
            class="fdb-icon mt-3 mt-xl-5"
            src="/imgs/icons/monitor.svg"
          />
          <h4><strong>Feature Six</strong></h4>
          <p>A small river named Duden flows by their place and supplies it</p>
        </div>

        <div class="col-7 col-sm-4 col-lg-4 m-auto pt-5 pt-lg-0 order-lg-1">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/draws/simple-iphone.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
