<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>

          <img
            alt="image"
            class="img-fluid mt-5"
            src="/imgs/draws/android.svg"
          />
        </div>
      </div>

      <div class="row text-left pt-5">
        <div class="col-12 col-md-6">
          <h3><strong>Feature One</strong></h3>

          <p>
            Far from the countries Vokalia and Consonantia, there live the blind
            texts. Separated they live in Bookmarksgrove right at the coast of
            the Semantics, a large language ocean. A small river named Duden
            flows by their place and supplies it with the necessary regelialia.
            When she reached the first hills of the Italic Mountains, she had a
            last view back on the skyline of her hometown Bookmarksgrove, the
            headline of Alphabet Village and the subline of her own road, the
            Line Lane.
          </p>

          <p>
            <a href="https://www.froala.com"
              >Learn More <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
        <div class="col-12 col-md-6 pt-4 pt-md-0">
          <h3><strong>Feature Two</strong></h3>

          <p>
            It is a paradisematic country, in which roasted parts of sentences
            fly into your mouth. Even the all-powerful Pointing has no control
            about the blind texts it is an almost unorthographic life. The Big
            Oxmox advised her not to do so, because there were thousands of bad
            Commas, wild Question Marks and devious Semikoli. On her way she met
            a copy. The copy warned the Little Blind Text, that where it came
            from it would have been rewritten a thousand times and everything
            that was left from its origin.
          </p>

          <p>
            <a href="https://www.froala.com"
              >Learn More <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
