<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center justify-content-sm-center no-gutters">
        <div class="col-12 col-sm-8 col-md-3 m-auto">
          <h3><strong>Feature 1</strong></h3>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia.
          </p>
        </div>

        <div class="col-12 col-sm-8 col-md-3 m-auto pt-3 pt-md-0">
          <h3><strong>Feature 2</strong></h3>
          <p>
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.
          </p>
        </div>

        <div class="col-12 col-sm-8 col-md-3 m-auto pt-3 pt-md-0">
          <h3><strong>Feature 3</strong></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>
      </div>

      <div class="row text-center justify-content-md-center pt-3 pt-md-5">
        <div class="col-12 col-sm-8 col-md-3 m-auto">
          <h3><strong>Feature 4</strong></h3>
          <p>
            It is a paradisematic country, in which roasted parts of sentences
            fly into your mouth
          </p>
        </div>

        <div class="col-12 col-sm-8 col-md-3 m-auto pt-3 pt-md-0">
          <h3><strong>Feature 5</strong></h3>
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day.
          </p>
        </div>

        <div class="col-12 col-sm-8 col-md-3 m-auto pt-3 pt-md-0">
          <h3><strong>Feature 6</strong></h3>
          <p>
            The Big Oxmox advised her not to do so, because there were thousands
            of bad Commas, wild Question Marks
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
