<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-top">
        <div class="col-12 col-md-6 col-xl-4 m-auto">
          <h2>Learn more about the Froala Design Blocks you love</h2>
        </div>

        <div class="col-12 col-md-6 pt-5 pt-md-0">
          <div class="row justify-content-left">
            <div class="col-3 m-auto text-center">
              <img alt="image" class="fdb-icon" src="/imgs/icons/gift.svg" />
              <p>
                <a href="https://www.froala.com"
                  >One <i class="fas fa-angle-right"></i
                ></a>
              </p>
            </div>
            <div class="col-3 m-auto text-center">
              <img alt="image" class="fdb-icon" src="/imgs/icons/map.svg" />
              <p>
                <a href="https://www.froala.com"
                  >Two <i class="fas fa-angle-right"></i
                ></a>
              </p>
            </div>
            <div class="col-3 m-auto text-center">
              <img
                alt="image"
                class="fdb-icon"
                src="/imgs/icons/life-buoy.svg"
              />
              <p>
                <a href="https://www.froala.com"
                  >Three <i class="fas fa-angle-right"></i
                ></a>
              </p>
            </div>
          </div>

          <div class="row justify-content-left mt-4 mt-xl-5">
            <div class="col-3 m-auto text-center">
              <img alt="image" class="fdb-icon" src="/imgs/icons/layout.svg" />
              <p>
                <a href="https://www.froala.com"
                  >Four <i class="fas fa-angle-right"></i
                ></a>
              </p>
            </div>
            <div class="col-3 m-auto text-center">
              <img alt="image" class="fdb-icon" src="/imgs/icons/map-pin.svg" />
              <p>
                <a href="https://www.froala.com"
                  >Five <i class="fas fa-angle-right"></i
                ></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
