<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Features</h1>
        </div>
      </div>

      <div class="row text-center justify-content-center mt-5">
        <div class="col-12 col-sm-4 col-xl-3 m-md-auto">
          <img alt="image" class="fdb-icon" src="/imgs/icons/layers.svg" />
          <h3><strong>Feature 1</strong></h3>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia
          </p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/gift.svg" />
          <h3><strong>Feature 2</strong></h3>
          <p>
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large ocean.
          </p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/cloud.svg" />
          <h3><strong>Feature 3</strong></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
