<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean. On her way she met a copy. The copy warned the
            Little Blind Text, that where it came from it would have been
            rewritten a thousand times and everything that was left from its
            origin would be the word "and" and the Little Blind Text.
          </p>
        </div>
      </div>

      <div class="row text-left pt-5">
        <div class="col-12 col-sm-6 col-md-5">
          <img alt="image" class="fdb-icon" src="/imgs/icons/layers.svg" />
          <h3><strong>Feature One</strong></h3>
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.
          </p>
        </div>

        <div class="col-12 col-sm-6 col-md-5 ml-sm-auto pt-5 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/package.svg" />
          <h3><strong>Feature Two</strong></h3>
          <p>
            It is a paradisematic country, in which roasted parts of sentences
            fly into your mouth. Even the all-powerful Pointing has no control
            about the blind texts it is an almost unorthographic life.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
