<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-right align-items-center">
        <div class="col-7 col-md-4 m-auto">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/draws/simple-iphone.svg"
          />
        </div>

        <div class="col-12 col-md-7 col-lg-5 m-auto text-left pt-5 pt-md-0">
          <div class="row pb-lg-5">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="/imgs/icons/layers.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature Seven</strong></h3>
              <p>
                Even the all-powerful Pointing has no control about the blind
                texts.
              </p>
            </div>
          </div>

          <div class="row pt-4 pt-md-5 pb-lg-5">
            <div class="col-3">
              <img
                alt="image"
                class="img-fluid"
                src="/imgs/icons/monitor.svg"
              />
            </div>
            <div class="col-9">
              <h3><strong>Feature Seven</strong></h3>
              <p>
                Duden flows by their place far far away, behind the word
                mountains.
              </p>
            </div>
          </div>

          <div class="row pt-4 pt-md-5">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="/imgs/icons/cloud.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature Seven</strong></h3>
              <p>
                A small river named Duden flows by their place and supplies it.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
