<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-8 col-lg-6 m-md-auto ml-lg-0 mr-lg-auto">
          <img alt="image" class="img-fluid" src="/imgs/draws/features.svg" />
        </div>
        <div class="col-12 col-lg-6 col-xl-5 ml-sm-auto pt-5 pt-lg-0">
          <h1>Design Blocks</h1>

          <div class="row pt-4 pt-xl-5">
            <div class="col-12 col-sm-6 col-xl-5">
              <h4><strong>Feature One</strong></h4>
              <p>Far far away, behind the word mountains</p>
            </div>
            <div class="col-12 col-sm-6 col-xl-5 m-auto pt-3 pt-sm-0">
              <h4><strong>Feature Two</strong></h4>
              <p>Separated they live in Bookmarksgrove</p>
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-12 col-sm-6 col-xl-5">
              <h4><strong>Feature Three</strong></h4>
              <p>A small river named Duden flows by me</p>
            </div>
            <div class="col-12 col-sm-6 col-xl-5 m-auto pt-3 pt-sm-0">
              <h4><strong>Feature Four</strong></h4>
              <p>Separated they live in Bookmarksgrove</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
