<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-sm-6 col-lg-5 col-xl-4 m-auto">
          <img alt="image" class="fdb-icon" src="/imgs/icons/layers.svg" />
          <h3><strong>Feature 1</strong></h3>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts
          </p>
        </div>

        <div class="col-12 col-sm-6 col-lg-5 col-xl-4 m-auto pt-4 pt-sm-0">
          <img alt="image" class="fdb-icon" src="/imgs/icons/github.svg" />
          <h3><strong>Feature 2</strong></h3>
          <p>
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large language ocean.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
