<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col text-left">
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
        </div>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col-10">
          <img
            alt="image"
            class="img-fluid mt-5"
            src="/imgs/draws/android.svg"
          />
        </div>
      </div>

      <div class="row text-left pt-5">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="/imgs/icons/github.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature One</strong></h3>
              <p>
                Far far away, behind the word mountains, far from the countries
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="/imgs/icons/layers.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature Two</strong></h3>
              <p>Separated they live in Bookmarksgrove right at the coast</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img
                alt="image"
                class="img-fluid"
                src="/imgs/icons/life-buoy.svg"
              />
            </div>
            <div class="col-9">
              <h3><strong>Feature Three</strong></h3>
              <p>
                A small river named Duden flows by their place and supplies it
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
