<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1>Features</h1>
        </div>
      </div>
      <div class="row text-left mt-5">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="fdb-icon" src="/imgs/icons/gift.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature One</strong></h3>
              <p>
                Far far away, behind the word mountains, far from the countries
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="fdb-icon" src="/imgs/icons/cloud.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature Two</strong></h3>
              <p>
                Even the all-powerful Pointing has no control about the blind
                texts.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="fdb-icon" src="/imgs/icons/map-pin.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature Three</strong></h3>
              <p>
                A small river named Duden flows by their place and supplies it
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-left pt-3 pt-sm-4 pt-md-5">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="fdb-icon" src="/imgs/icons/layers.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature Four</strong></h3>
              <p>
                Duden flows by their place far far away, behind the word
                mountains.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img
                alt="image"
                class="fdb-icon"
                src="/imgs/icons/life-buoy.svg"
              />
            </div>
            <div class="col-9">
              <h3><strong>Feature Five</strong></h3>
              <p>Separated they live in Bookmarksgrove right at the coast</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="fdb-icon" src="/imgs/icons/layout.svg" />
            </div>
            <div class="col-9">
              <h3><strong>Feature Six</strong></h3>
              <p>
                On her way she met a copy. The copy warned the Little Blind
                Text.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
