<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-right align-items-center">
        <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
          <h1>Features</h1>
          <p class="h3 pb-xl-4">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>

          <div class="row pt-5">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="/imgs/icons/gift.svg" />
            </div>
            <div class="col-9">
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia. It is a paradisematic country, in
                which roasted parts of sentences.
              </p>
            </div>
          </div>

          <div class="row pt-5">
            <div class="col-9 text-right">
              <p>
                When she reached the first hills of the Italic Mountains, she
                had a last view back on the skyline of her hometown
                Bookmarksgrove, there live the blind texts.
              </p>
            </div>

            <div class="col-3">
              <img
                alt="image"
                class="img-fluid"
                src="/imgs/icons/map-pin.svg"
              />
            </div>
          </div>
        </div>

        <div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
          <img
            alt="image"
            class="img-fluid"
            src="/imgs/draws/simple-iphone.svg"
          />
        </div>
      </div>
    </div>
  </section>
</template>
