<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center pb-xl-5">
        <div class="col-12 col-md-7 col-xl-5">
          <h1>Froala Design Blocks</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
        </div>
        <div
          class="col-12 col-sm-6 col-md-4 m-sm-auto mr-md-0 ml-md-auto pt-4 pt-md-0"
        >
          <img alt="image" class="img-fluid" src="/imgs/draws/developer.svg" />
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-12 col-sm-6 col-md-3">
          <h3><strong>Feature One</strong></h3>
          <p>
            Separated they live in Bookmarksgrove right at the coast of the
            Semantics, a large ocean.
          </p>
        </div>

        <div class="col-12 col-sm-6 col-md-3 pt-3 pt-sm-0">
          <h3><strong>Feature Two</strong></h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>

        <div class="col-12 col-sm-6 col-md-3 pt-3 pt-md-0">
          <h3><strong>Feature Three</strong></h3>
          <p>
            It is a paradisematic country, in which roasted parts of sentences
            fly into your mouth.
          </p>
        </div>

        <div class="col-12 col-sm-6 col-md-3 pt-3 pt-md-0">
          <h3><strong>Feature Four</strong></h3>
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
