<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 text-left">
          <h1>Froala Design Blocks is simply ahead the word mountains</h1>
          <p class="lead">
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>

          <p class="lead">
            <a href="https://www.froala.com"
              >Explore all features <i class="fas fa-angle-right"></i
            ></a>
          </p>
        </div>
      </div>

      <div class="row text-center no-gutters pt-5">
        <div class="col-12 col-md-10 col-lg-8">
          <div class="row">
            <div class="col-8 col-sm-5 col-md-2 m-auto">
              <img alt="image" class="img-fluid" src="/imgs/icons/github.svg" />
              <h4>Feature One</h4>
            </div>
            <div class="col-8 col-sm-5 col-md-2 m-auto pt-5 pt-sm-0">
              <img
                alt="image"
                class="img-fluid"
                src="/imgs/icons/monitor.svg"
              />
              <h4>Feature Two</h4>
            </div>
            <div class="col-8 col-sm-5 col-md-2 m-auto pt-5 pt-md-0">
              <img alt="image" class="img-fluid" src="/imgs/icons/layers.svg" />
              <h4>Feature Three</h4>
            </div>
            <div class="col-8 col-sm-5 col-md-2 m-auto pt-5 pt-md-0">
              <img alt="image" class="img-fluid" src="/imgs/icons/cloud.svg" />
              <h4>Feature Four</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
