<template>
  <section class="fdb-block">
    <div class="container">
      <div class="row text-left">
        <div class="col-12 col-md-4">
          <h2>Feature One</h2>
          <p>
            <strong>Far far away</strong>, behind the word mountains, far from
            the countries
            <a href="https://www.froala.com">Vokalia and Consonantia</a>, there
            live the blind texts.
          </p>
        </div>

        <div class="col-12 col-md-4 pt-5 pt-sm-4 pt-md-0">
          <h2>Feature Two</h2>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
        </div>

        <div class="col-12 col-md-4 pt-5 pt-sm-4 pt-md-0">
          <h2>Feature Three</h2>
          <p>
            Even the all-powerful Pointing has no control about the
            <strong>blind texts</strong> it is an almost unorthographic life.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
